.align-center {
    text-align: center;
    &.tp-caption {
        text-align: center !important;
    }
}

.wp-block-gallery {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    &.alignleft {
        margin-right: 20px;
    }
    &.alignright {
        margin-left: 20px;
    }
    li {
        list-style: none;
        width: 100%;
    }
    &.columns-2 {
        li {
            width: calc(50% - 16px);
        }
    }
    &.columns-3 {
        li {
            width: calc(33.33% - 16px);
        }
    }
    &.columns-4 {
        li {
            width: calc(25% - 16px);
        }
    }
    &.columns-6 {
        li {
            width: calc(16.66% - 16px);
        }
    }
}

.post-content{
    img {
        &.alignleft {
            margin-right: 50px;
        }
        &.alignright {
            margin-left: 50px;
        }
    }
}
.single{
    .post-content, .post-media{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.post-loop-item{
    
    .sticky-post-label{
        color: $white_text;
        background: $accent_color;
    }

    .entry-title{
        a{
            &:hover{
                color: $green_color;
            }
        }
    }

    &:hover{
        img{
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
        }
    }

}
.post-info{
    li>span{
        margin-right: 5px;
        text-transform: capitalize;
    }
}

.zoo-single-post-nav-item{
    .content-single-post-nav-item{
        span{
            color: $green_color;
        }
    }
}

.grid-layout {
    .row{
        align-items: center;
    }
    .wrap-media{
        margin-bottom: 10px;
        .sticky-post-label{
            &:before{
                background: $accent_color;
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top:0;
                z-index: -1;
                opacity: 0.8;
            }
            background:transparent;
        }
    }
    .grid-layout-item{
        .post-info i{
            display: none;
        }
    }
    .entry-content{
        margin-bottom: 20px;
    }
}

.clearfix::after, .clear-fix::after {
    content: "";
    clear: both;
    display: table;
}
.wp-block-button.is-style-squared .wp-block-button__link {
    &:hover {
        color: $main_color !important;
    }
}

.wp-block-separator.is-style-dots {
    padding: 20px 0
}

.wp-block-image figcaption {
    color: $sec_accent_color;
}

.wp-block-image .alignleft {
    margin-right: 30px;
}

.wp-block-image .alignright {
    margin-left: 30px;
}

.has-drop-cap {
    @include px2rem(24);
    &:first-letter {
        font-weight: 400 !important;
        padding-top: 10px !important;
        font-size: 100px !important;
        line-height: 60px !important;
    }
}

p.has-background {
    font-weight: 300;
}
.wp-caption .wp-caption-text{
    padding-top:5px
}
/*Blog cover*/
.wrap-blog-cover {
    text-align: center;
    padding: 120px 0;
    color: $white_text;
    background-color: #282828;
    background-size: auto;
    background-position: 50% 50px !important;
    .blog-page-title {
        margin: 0;
        @include px2rem(60);
        color: inherit;
    }
    .author-info {
        max-width: 550px;
        margin: 0 auto;
    }
    .author-heading, .author-title {
        color: inherit;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .author-avatar {
        margin-bottom: 10px;
        img {
            border-radius: 50%;
            box-shadow: 0 0 25px -10px $black_transparent_5;
        }
    }
    .author-bio {
        margin-bottom: 0;
    }

}

.cvca-pagination {
    text-align: center;
    margin: 20px 0;
    .cvca_pagination-item {
        background: none;
        height: 30px;
        min-width: 30px;
        text-align: center;
        line-height: 30px;
        font-size: 1.2rem;
        display: inline-block;
        color: $sec_accent_color;
        &.current, &:hover {
            color: $main_color;
        }
    }
}

/*End Blog cover*/

/*Comment form*/
.comment-reply-title small {
    font-size: 60%;
    font-weight: 400;
    a {
        color: $sec_accent_color;
    }
    a:hover {
        text-decoration: underline;
        color: $main_color;
    }
}

.wrap-comments .comment-respond {
    .comment-form {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.wrap-loop-content {
    .page-title {
        padding: 0 15px
    }
}
.comments-navigation {
    width: 100%;
    display: inline-block;
    margin-bottom: 30px;
    .wrap-pagination{
        margin:0;
    }
}
/*End Comment form*/
/* List label categories*/
.list-label-cat{
    margin-bottom: 20px;
    a{
        background: $accent_color;
        border:1px solid $accent_color;
        color: $white_text;
        font-weight: 500;
        padding:2px 10px;
        border-radius: 3px;
        margin:0 5px;
        @include px2rem(14);
        &:hover{
            background: none;
            color: $accent_color;
        }
    }
}
/* End List label categories*/


/** Theme sidebar **/

.sidebar, .elementor-widget-sidebar{
    .widget-area{
        &:not(.zoo-woo-sidebar){
            .widget{
                border-bottom: none;
            }
        }
    }
    .widget{
        margin-bottom: 25px;
        padding-bottom: 25px;
        .widget-title{
            font-weight: 300;
            margin-bottom: 10px;
            margin-top: 0;
            padding-bottom: 20px;
            @include px2rem(18);
            line-height: 1.3;
            text-transform: uppercase;
            color: #353535;
            position: relative;
            letter-spacing: 1px;
            &:before, &:after{
                content: '';
                position: absolute;
                left: 0;
                height: 1px;
                background: #cccccc;
            }
            &:before{
                bottom: 14px;
                width: 60px;
            }
            &:after{
                bottom: 8px;
                width: 30px;
            }
        }
        ul{
            li{
                list-style: none;
                padding: 0;
                position: relative;
                border-bottom: 1px solid #eaeaea;
                a{
                    @include px2rem(14);
                    line-height: 1.7;
                    color: #353535;
                    display: inline-block;
                    padding: 16px 0 16px 15px;
                    &:before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 25px;
                        width: 5px;
                        height: 5px;
                        background: #333;
                    }
                    &:hover{
                        color: $green_color;
                    }
                }
            }
        }
        &.widget_search{
            .search-form{
                margin: 0;
            }
        }
        &.widget_recent_comments{
            ul{
                li{
                    padding: 16px 0 16px 15px;
                    span{
                        line-height: 1.7;
                    }
                    a{
                        &:hover{
                            color: $green_color;
                            &:before{
                                background: #333;
                            }
                        }
                    }
                }
            }
        }
        &.widget_tag_cloud{
            .tagcloud{
                a{
                    color: #999;
                    display: inline-block;
                    @include px2rem(12);
                    margin: 0 10px 12px 0;
                    padding: 2px 10px;
                    border-radius: 25px;
                    background: rgba(0,0,0,.05);
                    font-weight: normal;
                    line-height: 28px;
                    height: 32px;
                    &:hover{
                        background: #000;
                        color: $white_text;
                    }
                }
            }
        }
    }
}
