/** Content Single Portfolio **/ 

.content-single-post{
	.cp-single{

		.title-portfolio{
			font-size: 34px;
			font-weight: normal;
		}

		.cp-content{
			text-align: left;
			p{
				margin-bottom: 18px;
				line-height: 2;
				@include px2rem(15);
			}
			h2{
				@include px2rem(32);
				font-weight: 400;
			}
		}
		&.list, &.metro{
			.wrapper-portfolio-info{
				display: inline-block;
				width: 100%;
				.title-portfolio{
					font-size: 34px;
					text-align: left;
					font-weight: normal;
					margin-top: 46px;
					margin-bottom: 18px;
				}
				.cp-info, .portfolio-desc{
					width: 50%;
					float: left;
					@media(max-width: 480px){
						width: 100%;
						float: none;
					}
				}
				.cp-info{
					padding: 10px 0;
					> li{
						padding: 10px 0;
						line-height: 1.9;
						float: none;
						width: 100%;
						text-align: left;
						.info-label, .info-content{
							display: inline-block;
							margin-bottom: 0;
							@include px2rem(14);
							color: #7d7d7d;
						}
						.info-label{
							min-width: 160px;
							font-family: 'Open Sans';
							font-weight: bold;
						}
						.info-content{
							text-transform: capitalize;
						}
						&.share-links{
							.cp-social-icons{
								display: inline;
								text-align: center;
								width: 100%;
								margin: 0;
								li.cp-social-icon{
									background: none;
									margin: 0 3px;
									width: 30px;
									height: 30px;
									border: none;
									line-height: 30px;
									padding: 0;
									display: inline-block;
									border-radius: 50%;
									@include transition(300ms);
									cursor: pointer;
									a{
										color: #000;
										font-size: 16px;
										display: block;
										&:hover{
											color: $green_color;
											background: transparent;
										}
									}
									&:hover{
										@include transform( translateY(0) );
										@include boxshadow(none);
									}
								}
							}
						}
					}
				}
				.portfolio-desc{
					text-align: left;
					padding: 10px 0;
					line-height: 1.9;
					@include px2rem(15);
					margin-bottom: 17px;
				}
			}
			.cp-wrap-imgs{
				margin-bottom: 46px;
			}
		}
		&.metro{
			.wrapper-portfolio-info{
				.title-portfolio{
					text-align: center;
					margin-top: 0;
				}
			}
			.cp-gallery{
				margin-left: -15px;
				margin-right: -15px;
				.cp-wrap-imgs{
					margin-bottom: 0;
				}
			}
		}
		&.right-sidebar, &.left-sidebar{
			.title-portfolio{
				margin-bottom: 40px;
			}
			.cp-info{
				padding: 10px 0;
				> li{
					padding: 10px 0;
					line-height: 1.9;
					float: none;
					width: 100%;
					text-align: left;
					.info-label, .info-content{
						display: inline-block;
						margin-bottom: 0;
						@include px2rem(14);
						color: #7d7d7d;
					}
					.info-label{
						min-width: 160px;
						font-family: 'Open Sans';
						font-weight: bold;
					}
					.info-content{
						text-transform: capitalize;
					}
					&.share-links{
						.cp-social-icons{
							display: inline;
							text-align: center;
							width: 100%;
							margin: 0;
							li.cp-social-icon{
								background: none;
								margin: 0 3px;
								width: 30px;
								height: 30px;
								border: none;
								line-height: 30px;
								padding: 0;
								display: inline-block;
								border-radius: 50%;
								@include transition(300ms);
								cursor: pointer;
								a{
									color: #000;
									font-size: 14px;
									display: block;
									&:hover{
										color: $green_color;
										background: transparent;
									}
								}
								&:hover{
									@include transform( translateY(0) );
									@include boxshadow(none);
								}
							}
						}
					}
				}
			}
		}
		&.slider{
			.cp-wrap-content{
				text-align: center;
				.cp-content{
					text-align: center;
				}
			}
			.cp-wrap-imgs{
				&.slick-slider{
					.slick-slide{
						img{
							margin: auto;
						}
					}
				}
			}
			ul.cp-info{
				li{
					padding: 0;
					.info-label{
						font-weight: bold;
						font-size: 14px;
						color: #7d7d7d;
						font-family: 'Open Sans';
						margin-bottom: 20px;
					}
					.info-content{
						text-transform: capitalize;
						color: #959595;
						@include px2rem(15);
						line-height: 2;
						margin-bottom: 18px;
					}
					&.share-links{
						.cp-social-icons{
							display: inline;
							text-align: center;
							width: 100%;
							margin: 0;
							li.cp-social-icon{
								background: none;
								margin: 0 3px;
								width: 30px;
								height: 30px;
								border: none;
								line-height: 30px;
								padding: 0;
								display: inline-block;
								border-radius: 50%;
								@include transition(300ms);
								cursor: pointer;
								a{
									color: #000;
									font-size: 16px;
									display: block;
									&:hover{
										color: $green_color;
										background: transparent;
									}
								}
								&:hover{
									@include transform( translateY(0) );
									@include boxshadow(none);
								}
							}
						}
					}
				}
			}
		}
	}
}

/** Archive Portfolio **/

.wrap-main-archive{
	padding-top: 65px;
	.clever-portfolio{
		&.default{
			.clever-portfolio-item{
				&:hover{
					.wrap-portfolio-item{
						&:after{
							content: none;
						}
					}
				}
			}
			.wrap-portfolio-item{
				&:after{
					content: none;
				}
				.mask-link{
					display: none;
				}
				.wrap-portfolio-img{
					&:hover{
						img{
							@include transform( scale(1.1) );
						}
					}
					height: auto;
					overflow: hidden;
				}
				.portfolio-info{
					position: static;
					padding: 20px;
					background: #f5f5f5;
					.list-cat{
						margin: 10px 0;
						a{
							@include transform( translateX(0) );
							opacity: 1;
							padding-left: 0;
							color: #7d7d7d;
							@include px2rem(13);
							background: transparent;
							&:hover{
								color: $green_color;
							}
						}
					}
					.title-post{
						opacity: 1;
						@include transform( translateX(0) );
						@include px2rem(16);
						margin-bottom: 7px;
						font-weight: normal;
						a{
							color: #000;
							&:hover{
								color: $green_color;
							}
						}
					}
					.post-date{
						opacity: 1;
						@include px2rem(13);
						font-style: italic;
						display: block;
						margin-bottom: 7px;
						color: #7d7d7d;
					}
					.portfolio-des{
						margin-bottom: 20px;
						@include px2rem(15);
					}
					.btn-around{
						color: $white_text;
						background: #333;
						@include px2rem(12);
						opacity: 1;
						border-radius: 0;
						height: 42px;
						line-height: 42px;
						font-weight: 700;
						font-family: 'Montserrat', sans-serif;
						border: none;
						letter-spacing: 1px;
						text-transform: uppercase;
						margin-bottom: 10px;
						padding: 0 25px;
						&:hover{
							background: $green_color;
							color: $white_text;
						}
					}
				}
			}
		}
	}

}

/** ShortCode Portfolio**/

.clever-portfolio-shortcode{

	.wrap-portfolio-filter{
		.cp-mobile-filter{
			@media(max-width: 769px){
				padding-bottom: 15px;
			}
		}
		ul.clever-portfolio-filter{
			li{
				margin-left: 30px;
				margin-right: 0;
				&.active{
					span{
						color: $green_color;
					}
				}
				span{
					color: #252525;
					font-weight: 700;
					letter-spacing: -0.5px;
					text-transform: uppercase;
					font-family: 'Montserrat';
					@include px2rem(14);
					transition-duration: .3s;
				}
			}
		}
	}

	&.style-4{
		.cp-wrap-block-item{
			.clever-portfolio-item{
				.wrap-portfolio-item{
					.wrap-portfolio-img{
						height: auto;
						overflow: hidden;
						position: relative;
						.wrap-readmore{
							position: absolute;
						    bottom: 0;
						    left: -100%;
						    transition-duration: 0.3s;
						    .btn-readmore{
						    	color: $white_text;
						    	background: #333;
						    	height: 42px;
						    	line-height: 42px;
						    	font-weight: 700;
						    	border: none;
						    	font-family: 'Montserrat', 'sans-serif';
						    	padding: 0 25px;
						    	&:hover{
						    		background: $green_color;
						    	}
						    }
						}
						&:hover{
							img{
								@include transform( scale(1.1) );
							}
							.wrap-readmore{
								left: 0;
							}
						}
					}
					.portfolio-info{
						position: static;
						@include transform( scaleY(1) );
						opacity: 1;
						background: #f5f5f5;
						padding: 20px;
						&:after{
							content: none;
						}
						&:hover{
							background: #333;
							.title-post, .list-cat a{
								color: $white_text;
							}
							.btn-readmore{
								background: $green_color;
							}
						}
						.title-post{
							color: #000;
							@include px2rem(14);
							letter-spacing: 0;
							a{
								&:hover{
									color: $green_color;
								}
							}
						}
						.list-cat{
							a{
								color: #7d7d7d;
							    font-style: normal;
							    @include px2rem(13);
							    letter-spacing: 0;
							    line-height: 100%;
							    transition: all 400ms;
							    margin: 0;
							    &:hover{
							    	color: $green_color;
							    	position: relative;
							    	z-index: 2;
							    }
							}
						}
						.btn-readmore{
							color: $white_text;
							@include px2rem(12);
							background: #333;
							height: 42px;
							line-height: 42px;
							font-weight: 700;
							padding: 0 25px;
							margin-top: 10px;
						}
					}
				}
			}
		}
	}

}

/** clever-portfolio Pagination **/

.clever-portfolio{
	.clever-wrap-pagination{
		&.default{
			.pagination{
				span, a{
					width: auto;
				    height: auto;
				    @include px2rem(16);
				    text-align: center;
				    line-height: inherit;
				    background: #333;
				    color: #fff;
				    margin: 0 4px;
				    padding: 8px 17.18px;
				    display: inline-block;
				    border: 0;
				    &:hover{
				    	background: $green_color;
				    }
				}
				.current{
					background: $green_color;
				}
			}
		}
	}
}