/** Cafe Posts Widget **/
.cafe-posts{
	&.grid-layout{
		&.default{
			div, p{
				letter-spacing: 0.5px;
			}
			.cafe-post-item{
				.wrap-media{
					margin-bottom: 16px;
					a{
						&:before{
							content: none;
						}
					}
				}
				.wrap-post-item-content{
					position: relative;
					padding-left: 20px;
					padding-right: 20px;
					.title-post{
						@include px2rem(16);
						font-weight: normal;
						margin: 17px 0 15px;
						a{
							&:hover{
								color: $green_color;
							}
						}
					}
					.post-info{
						margin: 0;
						.post-date{
							@include px2rem(12);
							color: #959595;
							margin-right: 10px;
							text-transform: capitalize;
							letter-spacing: 0.5px;
						}
					}
					.entry-content{
						color: #6f6f6f;
						@include px2rem(14);

					}
				}
				&:hover{
					.wrap-media{
						img{
							-webkit-transform: scale(1);
							transform: scale(1);
						}
					}
				}
			}
		}	
	}
	&.list-layout{		
		.cafe-post-item{
			margin-bottom: 22px;
			text-align: left;
			.wrap-post-item-content{
				.readmore{
					display: inline-block;
				}
			}
		}
	}
}

/** Pagination **/

.cafe-pagination{
	margin-left: 15px;
	margin-right: 15px;
	text-align: left;
	display: block;
	.cafe_pagination-item{
		width: auto;
		height: auto;
		@include px2rem(16);
		text-align: center;
		line-height: inherit;
		background: #333;
		color: #fff;
		margin: 0 2px;
		padding: 8px 17.18px;
		display: inline-block;
		&.current, &:hover{
			background: $green_color;
		}
	}
}

/** Cafe Banner Widget **/
.cafe-banner{
	&.normal{
		cursor: pointer;
		background: none !important;
		.cafe-wrap-content{
			padding-left: 65px;
			padding-right: 65px;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			@media(max-width: 1024px){
				padding-left: 30px;
				padding-right: 30px;
			}
			@media(max-width: 768px){
				padding-left: 20px;
				padding-right: 20px;
			}
			.cafe-banner-title, .cafe-wrap-extend-content, .sub-title{
				-webkit-transition: all ease-in-out 0.3s;
				transition: all ease-in-out 0.3s;
				-webkit-transform: translateX(0px);
				transform: translateX(0px);
			}
		}
		&:hover{
			.cafe-wrap-content{
				.cafe-banner-title, .cafe-wrap-extend-content, .sub-title{
					-webkit-transform: translateX(-20px);
					transform: translateX(-20px);
					@media(max-width: 1024px){
						-webkit-transform: translateX(0);
						transform: translateX(0);
					}
				}
			}
		}
	}
	.cafe-wrap-content{
		.sub-title{
			p{
				margin-bottom: 20px;
				letter-spacing: 0.5px;
				@include px2rem(15);
				text-transform: none;
				color: $white_text;
				font-style: italic;
			}
		}
		.cafe-banner-title{
			font-size: 24px;
			color: $white_text;
			text-align: left;
			text-transform: uppercase;
			letter-spacing: 3px;
			font-weight: normal;
			margin-bottom: 17px;
		}
		.cafe-wrap-extend-content{
			.cafe-banner-description{
				//font-size: 14px;
				@include px2rem(14);
				color: $white_text;
				letter-spacing: 0.5px;
				margin-bottom: 24px;
			}
			.cafe-button{
				&.normal{
					background: #363636;
					font-family: 'Montserrat', sans-serif;
					color: $white_text;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 12px;
					display: inline-block;
					padding: 15px 30px;
					&:before, &:after{
						content: none;
					}
					&:hover{
						background: $green_color;
						color: $white_text;
					}
				}
			}
		}
	}
}

/** Cafe Button **/

.cafe-button{
	font-family: 'Montserrat', sans-serif;
	color: #333333;
	//line-height: 1;
	i{
		padding-right: 10px;
	}
	&.flat{
		&:before{
			//border-style: solid;
		}
	}
}

.elementor-align-justify .cafe-button{
	width: 100%;
}

/** Our Support **/

.our-support{
	ul{
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			padding: 0 0 3px;
			a{
				color: #7d7d7d;
				@include px2rem(15);
			}
		}
	}
}

/* Boxes Content */

.elementor-widget-icon-box{
	.elementor-icon-box-content{
		.elementor-icon-box-title{
			a{
				&:hover{
					color: $green_color;
				}
			}
		}
	}
}

/** About Section **/
.about-section{
	.elementor-text-editor{
		p{
			margin-bottom: 21px;
			line-height: 2;
			font-size: 15px;
			letter-spacing: 0.5px;
		}
		em{
			line-height: 1.8;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				padding: 5px 0;
				color: #7d7d7d;
				font-size: 15px;
				line-height: 2;
				i{
					padding-right: 5px;
    				color: #252525;
    				font-size: 14px;
				}
			}
		}
	}
}

/** Newsletter Form **/

.newsletter-form{
	.mc4wp-form{
		max-width: 300px;
		margin: 0 auto;
		width: 100%;
		.mc4wp-form-fields{
			input[type="email"]{
				padding: 10px;
				color: #444;
				@include px2rem(14);
				margin: 0;
				background: #fff;
				border: 1px solid #ddd;
				height: 40px;
				width: 75%;
				float: left;
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: #CDCDCD;
				  font-style: italic;
				  font-size: 12px;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: #CDCDCD;
				  font-style: italic;
				  font-size: 12px;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: #CDCDCD;
				  font-style: italic;
				  font-size: 12px;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: #CDCDCD;
				  font-style: italic;
				  font-size: 12px;
				}
			}
			button[type="submit"]{
				width: 25%;
				float: left;
				height: 40px;
				line-height: 40px;
				background: #0099ff;
				padding: 0;
			}
		}
	}
}

/** Cafe Team Member **/

.cafe-team-member{
	&.style-5{
		text-align: center;
		.cafe-member-ava{
			margin-bottom: 19px;
		}
		.cafe-member-name{
			@include px2rem(14);
			font-weight: bold;
			text-transform: uppercase;
			color: #252525;
			margin-bottom: 9px;
		}
		.cafe-member-des{
			@include px2rem(13);
			font-weight: normal;
			text-transform: uppercase;
			color: #7d7d7d;
			margin-bottom: 27px;
		}
		.wrap-member-bio{
			.cafe-member-social{
				-webkit-transform: scale(1);
				transform: scale(1);
				opacity: 1;
				.cafe-member-social-item{
					a{
						width: 40px;
						height: 40px;
						background: #fff;
						border: 2px solid #ebebeb;
						border-radius: 50%;
						&:hover{
							border-color: $green_color;
							color: $green_color;
						}
					}
				}
			}
		}
		&:hover{

		}
	}
}

/** Cafe Contact Form 7 **/

.contact-section{
	.wpcf7{
		.screen-reader-response{
			position: absolute;
		    overflow: hidden;
		    clip: rect(1px, 1px, 1px, 1px);
		    height: 1px;
		    width: 1px;
		    margin: 0;
		    padding: 0;
		    border: 0;
		}
		.wpcf7-form{
			p{
				margin-bottom: 18px;
			}
			label{
				@include px2rem(14);
			}
			select, .text-field, input[type="text"], input[type="search"], input[type="password"], textarea, input[type="email"], input[type="tel"]{
			    border-top: none;
			    border-left: none;
			    border-right: none;
			    padding: 0;
			    width: 100%;
			    border-color: #ebebeb;
			    &:focus{
			      border-color: $green_color;
			    }
		  	}
		  	textarea{
		  		height: 45px;
		  		line-height: 45px;
		  		min-height: 130px;
		  	}
		  	input[type="submit"]{
			    font-size: 13px;
			    padding: 0 32px;
			    background-color: #333;
			    height: 42px;
			    line-height: 42px;
			    color: #fff;
			    font-weight: 700;
			    border: none;
			    font-family: 'Montserrat', sans-serif;
		  	}
			.wpcf7-not-valid-tip{
				color: #f00;
			    font-size: 1em;
			    font-weight: normal;
			    display: block;
			}
			.wpcf7-validation-errors{
				border: 2px solid #f7e700;
				margin: 2em 0.5em 1em;
    			padding: 0.2em 1em;
			}		
		}
	}
}

/** Address section **/

.address-section{
	.elementor-text-editor{
		p{
			line-height: 2;
			margin-bottom: 25px;
			color: #7d7d7d;
			font-size: 14px;
			letter-spacing: .5;
			font-weight: normal;
		}
		a{
			&:hover{
				color: $green_color;
			}
		}
	}
}

/** Custon Clever Icon **/

.cafe-icon{
	position: relative;
	&:before{
		content: "";
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    border-radius: 50%;
	    -webkit-transition: all 1.5s ease 0s;
	    transition: all 1.5s ease 0s;
	}
	i{
		-webkit-transition: all 1.5s ease 0s;
		transition: all 1.5s ease 0s;
	}
	&.animation{
		&:hover{
			&:before{
				opacity: 0;
				transform: scale(1.5);
			}
			i{
				-webkit-transform: scale(1.1);
				transform: scale(1.1);
			}
		}
	}
}

/** elementor-widget-image-box **/
.elementor-image-box-wrapper{
	.elementor-image-box-wrapper{
		@include transition(all .3s ease-in-out);
	}	
}

