/*Footer*/
.entry-footer {
    margin-bottom: 10px;
}

.footer-bottom {
    background: $bg_block;
}

.footer-row {
    background: $white_text;
    color: $sec_accent_color;
    div, p {
        letter-spacing: 0.5px;
    }
    a {
        color: $sec_accent_color;
        &:hover {
            color: $main_color;
        }
    }
    .menu, .cat-item, .widget_archive, .widget_pages {
        a {
            position: relative;
            &:after {
                width: 100%;
                height: 1px;
                position: absolute;
                left: 0;
                bottom: -5px;
                content: '';
                display: block;
                opacity: 0;
                @include transition(all 300ms);
            }
            &:hover:after {
                opacity: 1;
            }
        }
    }
    .widget-title {
        color: $widget_title;
        margin-top: 5px;
        margin-bottom: 25px;
        text-transform: uppercase;
        font-weight: normal;
        letter-spacing: 1.5px;
        margin-bottom: 0;
        padding-bottom: 35px;
        @include px2rem(14);
    }
    p {
        margin-bottom: 10px;
    }
    .widget {
        width: 100%;
        margin-bottom: 10px;
        display: inline-block;
        &:first-child .widget-title {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
        &.ZooSocialWidget {
            margin-bottom: 10px;
        }
    }
    .textwidget {
        width: 100%;
        display: inline-block;
    }
    .widget_nav_menu li {
        padding-top: 5px;
        padding-bottom: 5px;
        &:first-child {
            padding-top: 0
        }
        a {
            font-weight: 400;
        }
    }
    input {
        font-size: inherit;
    }
    .mc4wp-form {
        .mc4wp-form-fields {
            & > p {
                input[type="submit"] {
                    text-transform: uppercase;
                    background: $bg_footer;
                    color: $white_text;
                    @include px2rem(13);
                    letter-spacing: 3px;
                    padding: 5px 15px;
                    border: none;
                    &:hover {
                        background: $white_text;
                        color: $title_color;
                    }
                }
            }
        }
    }
    .widget_mc4wp_form_widget {
        .widget-title {
            margin-bottom: 10px;
        }
    }
    .zoo-list-payment-method {
        .payment-method {
            background: $bg_footer;
            margin-bottom: 10px;
        }
        svg {
            fill: $footer_color
        }
    }
    .zoo-widget-social-icon.icon li a {
        &:hover {
            text-decoration: none;
        }
    }
    .widget_rss {
        li {
            a {
                font-weight: 500;
                color: $main_color;
                &:hover {
                    color: $sec_accent_color;
                }
            }
            &:last-child {
                margin: 0
            }
        }
    }
    .textwidget {
        img {
            margin: 5px 0 0;
        }
    }
    &.footer-preset-light {
        a {
            color: $sec_accent_color;
            &:hover {
                color: $main_color;
            }
        }
        &.footer-main {
            background: $bg_block;
            .widget-title {
                text-transform: uppercase;
                color: $title_color;
            }
            color: $sidebar_color;
            a {
                color: $sidebar_color;
                &:hover {
                    color: $title_color;
                }
            }
            .social-icon {
                color: $title_color;
                &:hover {
                    color: $sidebar_color;
                }
            }
            .menu, .cat-item, .widget_archive, .widget_pages {
                a {
                    &:after {
                        background: $main_color;
                    }
                }
            }
        }
    }
    &.footer-preset-dark {
        background: $main_color;
        color: $footer_color;
        a {
            color: $footer_color;
            &:hover {
                color: $white_text;
            }
        }
        .menu, .cat-item, .widget_archive, .widget_pages {
            a {
                position: relative;
                &:after {
                    background: $white_text;
                }
            }
        }
        .widget-title {
            color: $white_text;
        }
        input {
            background: $white_text;
            color: $title_color;
            border: none
        }
        .cat-item span, .widget_archive li span {
            background: $color_except;
            color: $white_text
        }
        .widget .tagcloud a {
            background: $color_except;
            color: $white_text;
            &:hover {
                background: $sec_accent_color;
            }
        }
        .recentcomments {
            color: $white_text;
            .comment-author-link {
                color: $footer_color;
            }
            .comment-author-link:hover {
                color: $white_text;
            }
        }
    }
    .toggle-view {
        top: 5px;
    }
    .widget_archive select, .widget_categories select, .widget .search-form {
        margin-top: 10px
    }
    .widget li:first-child > .toggle-view {
        top: 0
    }
    .widget > ul li {
        padding-top: 5px;
        padding-bottom: 5px;
        &:first-child {
            padding-top: 0
        }
    }
    .widget_calendar table {
        margin-bottom: 5px;
    }
    .widget_recent_comments {
        a {
            color: $main_color;
            &:hover {
                color: $accent_color;
            }
        }
    }
    .widget_tag_cloud .tagcloud {
        padding-top: 5px;
        padding-bottom: 10px;
    }
    .widget_media_gallery{
        .gallery{
            display: inline-block;
            width: calc(100% + 20px);
            .gallery-item{
                padding: 0;
                margin-bottom: 20px;
                &:nth-child(3n+1){
                    &:after{
                        clear: both;
                    }
                }
                .gallery-icon {
                    img{
                        margin: 0;
                    }
                }
            }
        }
    }
    .widget_media_image{
        margin-bottom: 14px;
    }
}

.footer-top{
    &:not(.contained){
        .wrap-builder-items{
            border-bottom: 1px solid $border_footer_top;  
        }
    }
    &.contained{
        .wrap-builder-items {
            border-bottom: 1px solid $border_footer_top;
        }
    }

}

.footer-main {
    padding-top: 25px;
    padding-bottom: 25px;
    .builder-item {
        margin-bottom: 20px;
    }
    &.full-width {
        padding-left: 15px;
        padding-right: 15px;
    }
    .mc4wp-form {
        max-width: 460px;
        margin: 0 auto;
        text-align: center;
    }
    .widget_text{
        p{
            line-height: 2.5;
            letter-spacing: 0.5px;
            color: #aaaaa9;
            font-size: 12px;
            margin-bottom: 6px;
        }
    }
}

.mc4wp-form {
    h3 {
        @include px2rem(36);
        margin-bottom: 15px;
    }
    .wrap-form-input {
        margin-top: 50px;
        position: relative;
        input, button {
            margin: 0
        }
        input {
            border: 2px solid $border_color;
            height: 50px;
            line-height: 30px;
            border-radius: 30px;
            padding: 10px 20px;
            background: $white_text;
        }
        button {
            width: 44px;
            height: 44px;
            padding: 0;
            line-height: 50px;
            text-align: center;
            display: block;
            background: $accent_color;
            position: absolute;
            right: 4px;
            top: 3px;
            border: none;
            border-radius: 50%;
            @include px2rem(22);
            &:hover {
                background: $main_color;
                color: $white_text;
            }
        }
    }
}
.footer-bottom{
    &:not(.contained){
        .wrap-builder-items{
            padding: 36px 0 32px;
            border-top: 1px solid $border_footer;   
        }
    }
    &.contained{
        .wrap-builder-items {
            border-top: 1px solid $border_footer;
        }
    }
    .footer-copyright{
        color: #aaaaa9;
        @include px2rem(12);
        margin-bottom: 7px;
        letter-spacing: 0.5px;
    }
    .builder-item:last-child .widget-area {
        text-align: right;
    }
}

.footer-bottom, .footer-main {
    .widget_nav_menu {
        ul.menu {
            margin: 0
        }
        & > div > ul > li {
            padding: 0;
            list-style: square;
            position: relative;
            margin-left: 20px;
            &:not(:last-child){
                margin-bottom: 5px;
            }
            a{
                color: #aaaaa9;
                @include px2rem(12);
                &:hover{
                    color: $green_color;
                }
            }
        }
    }
    .zoo-widget-social-icon {
        text-align: left;
        a{
            color: #aaaaa9;
            &:hover{
                color: $green_color;
            }
            i {
                @include px2rem(16);
            }
        }
    }
}

@media(min-width: 992px) {
    .footer-main {
        padding-top: 96px;
        padding-bottom: 33px;
        &.full-width {
            padding-left: 60px;
            padding-right: 60px;
        }
    }

    .footer-bottom:not(.contained) {
        //padding: 36px 0 16px;
        &.footer-preset-dark {
            padding: 30px 60px
        }
    }
    .footer-bottom {
        .builder-item:not(.builder-block-footer_copyright):last-child {
            text-align: right;
        }
        .zoo-list-payment-method .payment-method:last-child {
            margin: 0
        }
    }
}

.builder-block-footer-widget-5 .widget-area{
    .zoo-widget-social-icon{
        text-align: left;
    }
    .widget-title{
        margin-bottom: 35px;
    }
    .zoo-widget-social-icon.icon li{
        padding:0;
        margin-right: 5px;
        i{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    }
    .zoo-widget-social-icon.icon li a{
        border: 2px solid;
        color: $main_color;
        width: 60px;
        height: 60px;
        display: inline-block;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
        &:hover{
            color: $accent_color;
        }
    }
}
.builder-block-footer-widget-6 .widget-area{
    .widget_nav_menu{
        a{
            text-transform: uppercase;
            color: $main_color;
            @include px2rem(14);
            &:hover{
                color: $accent_color;
            }
        }
    }
    .mc4wp-form{
        width: 100%;
        margin:0;
        text-align: left;
        max-width: 100%;
    }
    .mc4wp-form-fields>h3{
        display: none;
    }
    .mc4wp-form .wrap-form-input{
        display: flex;
        align-items: center;
        margin:0
    }
    .mc4wp-form .wrap-form-input input{
        height: 40px;
        padding:5px 15px;
        border:1px solid $main_color;
        border-radius: 0;
        width: 100%;
    }
    .mc4wp-form .wrap-form-input button{
        position: static;
        margin-left: 10px;
        border-radius: 0;
        width: auto;
        height: 40px;
        padding:5px 35px;
        background: $main_color;
        color: $white_text;
        font-weight: 400;
        @include px2rem(13);
        line-height: 30px;
        i{
            display: none;
        }
        &:hover{
            background: $sec_accent_color;
        }
    }
    .widget_mc4wp_form_widget, .widget_text{
        margin-bottom: 10px;
    }
}

.site-footer{
    &.footer-style{
        &-footer-construct{
            .footer-top{
                .builder-item{
                    &.builder-block-footer-html1{
                        .element-footer-html1{
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            -webkit-box-pack: justify;
                            -ms-flex-pack: justify;
                            justify-content: space-between;
                            padding: 25px 0;
                            @media(max-width: 640px){
                                display: block;
                                text-align: center;
                            }
                        }
                        h3{
                            color: #959595;
                            margin-bottom: 0;
                            font-size: 30px;
                            font-weight: 500;
                            letter-spacing: 0;
                            @media(max-width: 640px){
                                font-size: 25px;
                                margin-bottom: 20px;
                            }
                        }
                        .zoo_link_button{
                            .text-link{
                                padding: 13px 24px;
                                text-transform: uppercase;
                                line-height: 1.6;
                                color: #000;
                                border-radius: 4px;
                                @include px2rem(14);
                                background: #ffcd0f;
                                transition: .5s;
                                display: inline-block;
                                font-weight: 700;
                                font-family: "Montserrat",sans-serif;
                                i{
                                    padding-left: 15px;
                                    padding-right: 0;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
            .footer-main{
                .builder-item{
                    .widget-area{
                        .widget{
                            &:nth-child(2){
                                &.ZooIconField{
                                    margin-top: -30px;
                                }
                            }
                            &.widget_nav_menu{
                                ul{
                                    li{
                                        list-style: none;
                                        margin-left: 0;
                                        &:not(:last-child){
                                            margin-bottom: 15px;
                                        }
                                        a{
                                            @include px2rem(14);
                                            &:hover{
                                                color: #ffcd0f;
                                            }
                                        }
                                    }
                                }
                            }
                            &.widget_text{
                                p{
                                    @include px2rem(14);
                                    line-height: 1.65;
                                    color: #7d7d7d;
                                }
                            }
                            &.ZooSocialWidget{
                                .zoo-widget-social-icon{
                                    li{
                                        display: inline-block;
                                        margin-right: 5px;
                                        a{
                                            border-radius: 50%;
                                            color: #000;
                                            background-color: #ffcd0f;
                                            border: none;
                                            width: 40px;
                                            height: 40px;
                                            line-height: 43px;
                                            display: block;
                                            text-align: center;
                                            &:hover{
                                                background: rgba(255, 205, 15, 0.8);
                                                color: #000;
                                            }
                                        }
                                    }
                                }
                            }
                        }                    
                    }
                }
            }
        }
    }
   
}

/*End Footer*/