/* Better Font Rendering =========== */
.better-font-rendering {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-size: 100%;
    outline: 0;
    padding: 0;
}

div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: inherit;
    line-height: 1.8;
}

body {
    font-size: 14px;
    color: $body-color;
    line-height: 1.8;
}

a {
    color: inherit;
    text-decoration: none;
    @include transition-all(300ms);
}

div, p{
    letter-spacing: 0.5px;
    color: inherit;
    font-size: inherit;
}

* {
    hyphens: auto;
    word-wrap: break-word;
}

*:focus, *, *:active, a:focus, a:active, a {
    outline: 0 !important;
}

a:focus, a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    color: $main_color;
}

h1 {
    @include px2rem(36)
}

h2 {
    @include px2rem(32)
}

h3 {
    @include px2rem(28)
}

h4 {
    @include px2rem(24)
}

h5 {
    @include px2rem(20)
}

h6 {
    @include px2rem(16)
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-bottom: 30px;
    margin-top: 0;
    font-weight: 500;
    color: $title_color;
}

ul, ol, p, dl, pre {
    margin-bottom: 30px;
    margin-top: 0
}

b, strong {
    font-weight: 500;
}

dt {
    font-weight: 500;
    color: $main_color;
    margin-bottom: 5px;
}

dd {
    margin-bottom: 15px;
}

ul {
    margin-left: 20px;
}

ol {
    margin-left: 20px;
}

ul, ol {
    ul, ol {
        margin-bottom: 0;
    }
    ul {
        margin-top: 5px;
        margin-left: 15px;
    }
    ol {
        margin-top: 5px;
        margin-left: 15px;
    }
}

li ul {
    > li {
        list-style: circle;
    }
}

ul > li {
    list-style: disc;
}

li {
    padding: 5px 0;
}

code, kbd, pre, samp, tt {
    font-family: monospace, serif;
    hyphens: none;
}

code {
    background: $bg_block;
    border-radius: 3px;
    padding: 3px 5px;
}

ins, pre {
    background: $bg_checkout_block;
}

pre {
    white-space: pre-wrap;
    padding: 15px;
    border-radius: 4px;
    color: #333;
    margin-bottom: 20px;
    code {
        padding: 0;
        font-size: inherit;
        color: inherit;
        white-space: pre-wrap;
        background-color: transparent;
        border-radius: 0;
    }
}

var, cite, em {
    font-style: italic;
}

cite {
    font-weight: 500;
    color: #252525;
}

option {
    padding: 5px 8px;
    font-size: 0.87rem;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

select {
    height: 40px;
    width: 100%;
    padding: 0 10px;
    border: 1px solid $border_color;
    color: $main_color;
    background-color: white;
    background-image: url("../images/down-arrow.svg");
    background-position: 99% 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0px;
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

a img {
    display: block;
}

figure {
    max-width: 100%;
    margin: 0 0 30px
}

figcaption {
    text-align: center;
    @include px2rem(13)
}

blockquote, .blockquote {

    position: relative;
    padding: 0 30px;
    margin: 10px 30px 38px;
    border-left: 2px solid rgba(51, 51, 51, 0.7);
    font-size: 1.125rem;
    font-weight: 500;
    color: #666;
    p {
        line-height: 1.7;
        color: #b2b2b2;
        font-style: italic;
        &:last-child {
            margin: 0
        }
    }
    &:before {
        color: $accent_color;
        position: absolute;
        content: '\c140';
        font-family: cleversoft;
        @include px2rem(60);
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        width: 100%;
        padding: 0 30px;
        text-align: inherit;
        line-height: 1;
        content: none;
    }
    cite {
        margin-top: 15px;
        font-style: normal;
        font-weight: 500;
        display: inherit;
        @include px2rem(14);
        text-transform: uppercase;
        color: $main_color;
        &:hover {
            color: $accent_color;
        }
    }
}

table {
    width: 100%;
    margin-bottom: 30px;
    border-collapse: collapse;
    text-align: left;
    border-top: 1px solid $border_color;
    border-left: 1px solid $border_color;
    th, td {
        padding: 8px;
        border-right: 1px solid $border_color;
    }
    th {
        color: $main_color;
    }
}

tbody {
    th, td {
        border-bottom: 1px solid $border_color;
    }
}

thead {
    th, td {
        border-bottom: 1px solid $border_color;
        font-weight: 500;
    }
}

.text-field, input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="tel"] {
    height: 40px;
    font-weight: normal;
}

.text-field, input[type="text"], input[type="search"], input[type="password"], textarea, input[type="email"], input[type="tel"] {
    border: 1px solid $main_color;
    padding: 0 15px;
    color: $title_color;
    font-size: 1rem;
    height: 40px;
    line-height: 40px;
    background: none;
    box-sizing: border-box;
    font-family: inherit;
    width: 100%;
    margin-bottom: 20px;
    @include transition(300ms ease-in-out);
}

.textarea, textarea {
    padding: 10px 15px;
    min-height: 130px;
}

.alert{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    &.alert-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
    &.alert-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
    &.alert-warning {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }
    &.alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

}