/*Custom css of theme*/
@import "header";
@import "custom-menu";
@import "button";
@import "widget";
@import "blog";
@import "footer";
@import "woocommerce";
@import "custom-elementor";
@import "custom-portfolio";

/*Custom css breadcrumb*/
.wrap-breadcrumb{
    background: #fafafa;
    padding: 20px 0;
    border: 1px solid #f1f1f1;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .zoo-breadcrumb-separator {
        margin: 0 10px;
        i{
            width: 5px;
            height: 5px;
            background: $breadcrumb_color;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 3px;
        }
    }
    .zoo-breadcrumb-container {
        @include px2rem(14);
        padding:5px 0;
        span {
            color: $breadcrumb_color;
        }
        a {
            color: $title_color;
            &:hover{
                color: $breadcrumb_color;
            }
        }
    }
}

/*End Custom css breadcrumb*/

/* Custom Base Css */

[class*="wp-block-"] {
    margin-left: 0;
}

.alignwide, .alignfull{
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    clear: both;
    width: 100%;
}

.alignleft{
    float: none;
}

.wp-block-quote.is-large, .wp-block-quote.is-style-large {
    padding-top: 80px;
}

.wp-block-archives-list li, .wp-block-categories-list li, .wp-block-latest-posts li {
    list-style: none;
}
.post-loop-item .wrap-media img{
    width: 100%;
}
select{
    margin-bottom: 25px;
}

#zoo-back-to-top{
    background: #000;
    border-radius: 2px;
    color: #fff;
    &:hover{
        background: #333;
        border-color: #333;
    }
}

/* Ebd Custom Base Css */

/*End Custom css of theme*/

/* Contact form */
.wpcf7-form {
    .text-field, input[type="text"], input[type="search"], input[type="password"], textarea, input[type="email"], input[type="tel"] {
        height: 40px;
        line-height: 40px;
    }
    .text-field, input[type="text"], input[type="search"], input[type="password"], textarea, input[type="email"], input[type="tel"] {
        padding: 5px 15px;
        background: $white_text;
        margin-bottom: 20px;
    }
    textarea{
        height: 158px;
    }
    .align-center {
        text-align: center;
    }
    .wpcf7-submit {
        margin-top: 15px;
        &:hover{
            background: $sec_accent_color;
        }
    }
}
.notify-form{
    .wpcf7-form>p{
        display: flex;
        justify-content: center;
        align-items: center;
        .wpcf7-text{
            margin:0
        }
        .wpcf7-submit {
            border: none;
            background: $main_color;
            color: $white_text;
            margin:0;
            &:hover{
                background: $accent_color;
                color:$white_text
            }
        }
    }
}
/*End Contact form */

/*Login Popup*/
.login-form-popup {
    .button {
        width: 100%;
    }
}

.woocommerce-form {
    display: flex;
    flex-wrap: wrap;
    .form-row, .lost_password {
        width: 100%;
    }
    .wc-social-login {
        order: 999;
        width: 100%;
        .ywsl-label {
            margin: 0;
            padding: 20px 0;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &:before, &:after {
                content: "";
                flex: 1 0 0;
                border-bottom: 1px solid $border-color;
            }
            &:before {
                margin-right: 20px;
            }
            &:after {
                margin-left: 20px;
            }
        }
        .socials-list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin: 0;
            a.ywsl-social {
                width: 100%;
                display: block;
                text-align: center;
                color: #fff;
                position: relative;
                margin: 0 0 5px;
                height: 42px;
                opacity: .9;
                img {
                    width: 0;
                    height: 0;
                }
                &:hover {
                    opacity: 1;
                }
            }
            .ywsl-facebook {
                background: #3b5998;
                &:before {
                    content: "\c234";
                    font-size: 22px;
                    font-family: cleversoft;
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    z-index: 1;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                &:after {
                    content: "FACEBOOK";
                    position: absolute;
                    @include px2rem(14);
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
            .ywsl-twitter {
                background: #4099ff;
                &:before {
                    content: "\c238";
                    font-size: 22px;
                    font-family: cleversoft;
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    z-index: 1;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                &:after {
                    content: "TWITTER";
                    position: absolute;
                    @include px2rem(14);
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
            .ywsl-google {
                background: #d34836;
                &:before {
                    content: "\c233";
                    font-size: 22px;
                    font-family: cleversoft;
                    position: absolute;
                    top: 50%;
                    left: 15px;
                    z-index: 1;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                &:after {
                    content: "GOOGLE";
                    position: absolute;
                    @include px2rem(14);
                    top: 50%;
                    left: 50%;
                    z-index: 1;
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}

/*End Login Popup*/
/*Light box subscription */
.popmake-content {
    .mc4wp-form-fields {
        & > span {
            display: none;
        }
        input[type=email] {
            border: none;
            border-bottom: 1px solid $border-color;
            padding: 0;
            width: 100% !important;
            @include transition(all 300ms);
            &:focus {
                border-bottom-color: $main_color;
            }
        }
        input[type=submit] {
            position: absolute;
            right: 0;
            opacity: 0;
        }
    }
    .wrap-subcription-field {
        position: relative;
        &:after {
            content: '\c139';
            font-family: cleversoft;
            position: absolute;
            color: $main_color;
            right: 0;
            top: 10px
        }
    }
}

.pum-container .popmake-close {
    width: 40px !important;
    height: 40px !important;
    display: block;
    overflow: hidden;
    font-size: 0 !important;
    &:before {
        position: absolute;
        height: 40px;
        width: 40px;
        content: '\c213';
        font-size: 1.6rem !important;
        font-family: cleversoft;
        top: 0;
        right: 0;
        line-height: 40px;
    }
}

/*End Light box subscription */

.page {
    .wrap-pagination.inpost-pagination {
        padding-top: 30px
    }
    .comments .title-block, .comment-reply-title {
        text-align: center;
    }
}

@media(max-width: 992px) {
    .page {
        .wrap-comment-form #reply-title, .wrap-comment-form .comment-notes {
            padding: 0
        }
    }
}

/*Fix css for fire fox and IE 11*/
@-moz-document url-prefix() {
    .main-content {
        overflow: hidden;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .main-content {
        overflow: hidden;
    }
}

/*For elementor*/
/*For CEA Banner*/
.border-text {
    position: relative;
    &:before {
        height: 10px;
        width: 100%;
        background: $star_color;
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 10px
    }
}

.cafe-banner:not(.cafe-overlay-content) .cafe-banner-title {
    margin: 0
}

.cafe-banner-title {
    margin-bottom: 15px;
}

h3.cafe-banner-title {
    @include px2rem(30)
}

.cafe-banner {
    .cafe-wrap-image img {
        width: 100%;
    }
}

.cafe-banner.normal {
    .cafe-wrap-image {
        overflow: hidden;
    }
    img {
        transition: all 350ms;
    }
    &:hover {
        img {
            transform: scale(1.1) translate(-10px, 10px);
        }
    }
}

.cafe-banner.cafe-overlay-content.boxed-content {
    .cafe-banner-title {
        white-space: nowrap;
        margin: 0;
    }
    .cafe-wrap-content {
        width: auto;
        height: auto;
        padding: 25px 40px 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
    }
}

.cafe-banner {
    &.content-half-width {
        .cafe-wrap-content {
            width: 50%;
        }
    }
}

.cafe-button {
    @include px2rem(13);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

/*End For CEA Banner*/
/*End For elementor*/
.mega-menu-content a.hide-text img {
    float: right;
}
@media (min-width: 556px) {
    .height-50{
        height: calc(20vh - 5px);
    }
}
@media (min-width: 768px) {
    .height-50{
        height: calc(40vh - 5px);
    }
}
