/**
 * Theme Name:  Evio
 * Theme URI:   http://evio.wp1.zootemplate.com
 * Author:      ZooTemplate
 * Author URI:  http://zootemplate.com/
 * Description: Evio is a new portfolio WordPress theme which created for creative agency and freelancers. Graphic designers, illustrators, photographers or any kind of creative is now able to create a quick & easy portfolio to showcase their work with a distinctive and creative touch.
 * Version:     3.0
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:        portfolio, two-columns, three-columns, left-sidebar, right-sidebar, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready
 * Text Domain: evio
 *
 * This theme, like WordPress, is licensed under the GPL. Use it to make something cool, have fun, and share what you've learned with others.
 */


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
