.wp-admin .mega_menu_meta_box div.accordion_content {
    padding: 0 0 20px 0 !important
}

.wp-admin .padding-5 {
    padding-top: 5px;
    padding-bottom: 5px
}

.wp-admin .txt-input {
    width: 100%;
    padding: 0 15px
}

.wp-admin .txt-input textarea {
    height: 40px;
    width: 100%
}

.wp-admin .rwmb-input .rwmb-slider {
    max-width: 250px;
    border: none;
    background: #ccc;
    border-radius: 0
}

.wp-admin .rwmb-input .ui-slider-horizontal .ui-slider-handle {
    margin-top: -3px;
    margin-left: 0;
    border-radius: 50%;
    background: #00aef0;
    transform: translateX(-50%);
    border: none
}

.wp-admin .rwmb-input .ui-slider-horizontal .ui-slider-range-min {
    background: #00aef0
}

.wp-admin .rwmb-input .ui-slider-horizontal .ui-slider-handle:focus, .wp-admin .rwmb-input .ui-slider-horizontal .ui-slider-handle:hover {
    cursor: pointer;
    background: #00aef0
}

.wp-admin .rwmb-input .ui-slider-horizontal {
    height: 3px
}

.wp-admin .rwmb-input .rwmb-slider-value-label {
    padding: 5px 15px;
    border-radius: 15px;
    background: #00aef0;
    color: #fff
}

.wp-admin .ui-datepicker .ui-datepicker-calendar {
    display: table
}

.wp-admin .zoo-theme-welcome {
    overflow: auto;
    padding-right: 12px
}

.wp-admin .zoo-theme-welcome #zoo-welcome-panel {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: space-between
}

.wp-admin .zoo-theme-welcome .zoo-welcome-panel-content {
    padding: 20px 0;
    display: flex;
    justify-content: space-between
}

.wp-admin .zoo-theme-welcome .zoo-welcome-heading {
    padding-right: 3em
}

.wp-admin .zoo-theme-welcome .zoo-welcome-heading h1 {
    font-size: 2rem
}

.wp-admin .zoo-theme-welcome .zoo-welcome-theme-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.wp-admin .zoo-theme-welcome .zoo-welcome-theme-logo img {
    max-height: 90px
}

.wp-admin .zoo-theme-welcome .zoo-welcome-theme-logo p {
    font-size: 10px;
    margin: 10px 0 0 0
}

.wp-admin .zoo-theme-welcome .zoo-welcome-theme-logo p span {
    background-color: #23282d;
    border-radius: 2px;
    color: #fff;
    padding: 1px 5px;
    font-size: 10px
}

.wp-admin .zoo-theme-welcome .zoo-welcome-panel-column .dashicons {
    color: #999
}

.wp-admin .zoo-theme-welcome #dashboard-widgets {
    padding: 0 8px
}

.wp-admin .zoo-theme-welcome #dashboard-widgets table.system-status th {
    font-weight: 700
}

.wp-admin .zoo-theme-welcome #dashboard-widgets table.system-status td {
    min-width: 240px
}

.zoo-theme_page_zoo-theme-settings .updated {
    margin-bottom: 20px
}

.wp-admin .zoo-theme-settings {
    background-color: #f1f1f1;
    display: table;
    margin: 0;
    vertical-align: top
}

.wp-admin .zoo-theme-settings p.submit {
    background-color: #fff;
    padding-left: 18px;
    margin-top: 0;
    margin-bottom: 0
}

.wp-admin .zoo-theme-settings p.description {
    color: #999
}

.wp-admin .zoo-theme-settings span.description {
    color: #999
}

.wp-admin .zoo-theme-settings table {
    margin: 0;
    padding: 18px 18px 0 18px;
    width: 100%
}

.wp-admin .zoo-theme-settings table.active-tab {
    background-color: #fff
}

.wp-admin .zoo-theme-settings table caption {
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 700;
    margin: 18px 18px 0 18px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase
}

.wp-admin .zoo-theme-settings table thead {
    width: 100%
}

.wp-admin .zoo-theme-settings table tr {
    display: block;
    padding-bottom: 20px;
    width: 100%
}

.wp-admin .zoo-theme-settings table tr th {
    display: block;
    padding: 10px 5px 10px 0;
    width: 100%
}

.wp-admin .zoo-theme-settings table tr td {
    display: block;
    padding: 0;
    text-align: left
}

.wp-admin .zoo-theme-settings table tr td label {
    font-weight: 700
}

.wp-admin .zoo-theme-settings table tr td label span.description {
    font-weight: 400
}

.wp-admin .zoo-theme-settings table tr td input[type=email], .wp-admin .zoo-theme-settings table tr td input[type=number], .wp-admin .zoo-theme-settings table tr td input[type=text] {
    width: 50%;
    min-width: 320px;
    padding: 5px 8px
}

.wp-admin .zoo-theme-settings .nav-bar {
    background-color: #f1f1f1;
    display: table-cell;
    min-width: 180px;
    vertical-align: top
}

.wp-admin .zoo-theme-settings .nav-bar .theme-logo {
    border-right: 1px solid #ddd;
    padding: 10px 0;
    text-align: center
}

.wp-admin .zoo-theme-settings .nav-bar .theme-logo img {
    padding-top: 10px
}

.wp-admin .zoo-theme-settings .nav-bar .theme-logo span {
    background-color: #23282d;
    border-radius: 2px;
    color: #fff;
    padding: 2px 5px
}

.wp-admin .zoo-theme-settings .nav-bar ul {
    margin: 0;
    padding: 0
}

.wp-admin .zoo-theme-settings .nav-bar ul li {
    font-weight: 700;
    margin: 0
}

.wp-admin .zoo-theme-settings .nav-bar ul li:first-child {
    border-top: 0
}

.wp-admin .zoo-theme-settings .nav-bar ul li a {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    display: block;
    padding: 12px;
    text-decoration: none
}

.wp-admin .zoo-theme-settings .nav-bar ul li a.active-item {
    border-right: 0;
    background-color: #fff
}

.wp-admin .zoo-theme-settings .content-tabs {
    background-color: #fff;
    display: table-cell;
    min-height: 100%;
    width: 100%;
    vertical-align: top
}

#advanced-settings, #import-export {
    display: none
}

.theme-setup-system-status {
    width: 100%;
    padding-bottom: 20px
}

div.child-theme-input {
    margin-bottom: 20px
}

div.child-theme-input .screen-reader-text {
    margin-bottom: 5px;
    display: block
}

div.child-theme-input #child_theme_name {
    padding: 10px;
    width: 100%
}

.grid-separator:last-child {
    border-right: 1px dashed #ccc
}

.envato-setup-next-steps h2 {
    padding-bottom: 10px
}

#zoo-heading-finish {
    color: #7eb62e
}

.widget-content select {
    width: 100%
}

.widget-content img {
    max-width: 100%
}

.zoo-active-theme-error {
    background-color: #fff9e3;
    padding: 10px;
    border-left: 2px solid #ffeb8e
}

.hidden {
    display: none
}

.danger-text {
    color: red
}

.align-center {
    text-align: center
}

.align-left {
    text-align: left
}

.align-right {
    text-align: right
}

.zoo-theme-setup-site-demo h2 {
    color: #fff;
    background-color: #000;
    padding: 1em
}

.zoo-theme-setup-site-demo .demo-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%
}

.zoo-theme-setup-site-demo .demo-list .demo-item {
    width: calc(20% - 32px);
    max-width: calc(20% - 32px);
    margin: 16px
}

.zoo-theme-setup-site-demo .demo-list .demo-item .demo-content {
    position: relative
}

.zoo-theme-setup-site-demo .demo-list .demo-item .demo-content .demo-label {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    background-color: green;
    color: #fff
}

.zoo-theme-setup-site-demo .demo-list .demo-item .demo-thumbnail {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle
}

.zoo-theme-setup-site-demo .demo-footer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    height: 36px;
    line-height: 36px;
    padding: 0 5px
}

.zoo-theme-setup-site-demo .demo-footer .demo-actions {
    display: flex;
    align-items: center
}

.zoo-theme-setup-site-demo .demo-footer .demo-spinner {
    display: none;
    width: 20px;
    height: 20px
}

.zoo-theme-setup-site-demo .demo-footer .demo-spinner.active {
    display: inline-block
}

.zoo-theme-setup-site-demo .demo-footer a {
    text-decoration: none;
    padding: 0 5px
}

.zoo-theme-setup-site-demo .demo-footer .demo-import {
    cursor: pointer
}

@media (max-width: 1400px) {
    .zoo-theme-setup-site-demo .demo-list .demo-item {
        width: calc(25% - 16px);
        max-width: calc(25% - 16px);
        margin: 8px
    }
}

@media (max-width: 1140px) {
    .zoo-theme-setup-site-demo .demo-list .demo-item {
        width: calc(33.3333% - 16px);
        max-width: calc(33.3333% - 16px);
        margin: 8px
    }
}

@media (max-width: 576px) {
    .zoo-theme-setup-site-demo .demo-list .demo-item {
        width: calc(50% - 16px);
        max-width: calc(50% - 16px);
        margin: 8px
    }

    .zoo-theme-setup-site-demo .demo-footer {
        flex-direction: column;
        height: 40px;
        line-height: 1;
        font-size: 12px;
        padding: 5px;
        text-align: center;
        justify-content: space-around
    }

    .zoo-theme-setup-site-demo .demo-footer .demo-actions {
        display: block
    }
}