:root {
    --black-color: #000
}

@-webkit-keyframes blink {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
}

@-webkit-keyframes circus {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes circus {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.element-align-right {
    text-align: right
}

.element-align-right form.zoo-search-form {
    float: right
}

.element-align-center {
    text-align: center
}

.element-align-center form.zoo-search-form {
    margin-left: auto;
    margin-right: auto
}

.element-align-left {
    text-align: left
}

.element-align-left form.zoo-search-form {
    float: left
}

.header-absolute.site-header {
    width: 100%;
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    z-index: 6
}

.full-width-contained {
    width: 100%
}

.wrap-builder-items {
    position: relative
}

.builder-item .item-inner {
    display: inline-block;
    vertical-align: middle
}

.builder-block-primary-menu.builder-item {
    position: static
}

.builder-item:not(.row-item-group) .item-inner {
    width: 100%
}

.item-preview-name {
    max-width: 100%;
    padding: 10px 15px;
    color: #fff;
    background: #0cb4ce;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    font-size: 12px;
    z-index: 9
}

.builder-item-focus {
    border: 1px solid transparent;
    transition: all 300ms;
    cursor: pointer;
    position: relative
}

.builder-item-focus:hover {
    border-color: #0cb4ce
}

.builder-item-focus:hover .item-preview-name {
    opacity: 1;
    visibility: visible
}

button.customize-partial-edit-shortcut-button {
    padding: 0 !important
}

.header-row .row {
    align-items: center
}

.wrap-site-header-desktop .header-row .row {
    flex-wrap: nowrap
}

.element-item {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%
}

.element-item select {
    text-align: inherit;
    padding: 0
}

.sticker {
    transition: all 300ms, z-index 0ms, width 0ms
}

.is-sticky.sticker {
    background: #fff;
    z-index: 4
}

.is-sticky.sticker:hover {
    z-index: 6 !important
}

.jump-down-animation.deactive {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0ms
}

.jump-down-animation.deactive {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0ms
}

.row-align-right {
    text-align: right
}

.row-align-left {
    text-align: left
}

.row-align-center {
    text-align: center
}

.row-item-group {
    display: flex;
    align-items: center;
    height: 100%;
    position: static
}

.row-item-group.row-align-right {
    justify-content: flex-end
}

.row-item-group.row-align-left {
    justify-content: flex-start
}

.row-item-group.row-align-center {
    justify-content: center
}

@media (max-width: 576px) {
    .hide-on-mobile {
        display: none
    }
}

.builder-block-logo {
    max-height: 100%
}

.item-block-logo .site-logo {
    max-width: 100%;
    max-height: 100%
}

.item-block-logo .site-name {
    line-height: 1
}

.item-block-logo .site-name, .item-block-logo .site-description, .item-block-logo .site-logo {
    margin: 0;
    padding: 0
}

.item-block-logo a {
    color: inherit;
    line-height: inherit
}

.item-block-logo > a {
    line-height: 1;
    display: block
}

.item-block-logo .sticky-logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms
}

.item-block-logo.has-sticky-logo a {
    position: relative
}

.item-block-logo.has-sticky-logo .site-logo {
    transition: all 300ms
}

.item-block-logo img {
    display: block
}

.is-sticky .has-sticky-logo .site-logo {
    opacity: 0;
    visibility: hidden
}

.is-sticky .has-sticky-logo .sticky-logo {
    visibility: visible;
    opacity: 1
}

.wrap-header-menu {
    display: flex;
    align-items: center
}

.wrap-primary-nav {
    width: 100%
}

.builder-block-primary-menu, .row-item-primary-menu {
    height: 100%
}

.primary-menu {
    max-height: 100%;
    height: 100%
}

.primary-menu ul.dropdown-submenu {
    margin: 0;
    padding: 0;
    position: absolute;
    visibility: hidden;
    text-align: left;
    opacity: 0;
    transition: all 200ms;
    width: 100vw;
    max-width: 280px;
    box-shadow: 0 0 5px #ccc;
    top: 0;
    left: calc(100% + 20px);
    background: #fff
}

.primary-menu ul.dropdown-submenu.pos-left {
    left: auto;
    right: calc(100% + 20px)
}

.primary-menu ul.dropdown-submenu a {
    display: block
}

.primary-menu ul.dropdown-submenu li.menu-item {
    padding: 10px 15px
}

.primary-menu ul.dropdown-submenu li.menu-item > a {
    display: flex;
    align-items: center
}

.primary-menu ul.dropdown-submenu li.menu-item > a > .zoo-icon-down {
    display: flex
}

.primary-menu li.menu-item {
    list-style: none;
    display: inline-block;
    position: relative
}

.primary-menu li.menu-item:hover > ul.dropdown-submenu {
    opacity: 1;
    visibility: visible;
    left: 100%;
    z-index: 9
}

.primary-menu li.menu-item:hover > ul.dropdown-submenu.pos-left {
    right: 100%;
    left: auto
}

.primary-menu li.menu-item li.menu-item {
    width: 100%
}

.primary-menu a {
    text-decoration: none;
    color: var(--black-color);
    transition: all 300ms;
    display: inline-block
}

.primary-menu > ul.nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    height: 100%;
    margin: 0
}

.primary-menu > ul.nav-menu > li {
    display: flex;
    margin-left: 10px;
    align-items: center;
    padding: 0
}

.primary-menu > ul.nav-menu > li:first-child {
    margin-left: 0
}

.primary-menu > ul.nav-menu > li > a {
    padding: 10px 0
}

.primary-menu > ul.nav-menu > li > ul.dropdown-submenu {
    top: calc(100% + 20px);
    left: 0
}

.primary-menu > ul.nav-menu > li > ul.dropdown-submenu.pos-left {
    right: 0;
    left: auto
}

.primary-menu > ul.nav-menu > li:hover > ul.dropdown-submenu {
    top: 100%;
    left: 0
}

.primary-menu > ul.nav-menu > li:hover > ul.dropdown-submenu.pos-left {
    right: 0;
    left: auto
}

.zoo_menu_is_mega.primary-menu > ul.nav-menu > li {
    height: 100%
}

.element-item > ul.nav-menu li.menu-item > a > .zoo-icon-down {
    padding-left: 5px
}

.element-item .menu-item .zoo-icon-down {
    font-size: inherit
}

.element-item.style-border-bottom > ul > li {
    border-bottom: 2px solid transparent;
    transition: all 300ms
}

.element-item.style-border-bottom > ul > li:hover, .element-item.style-border-bottom > ul > li.current-menu-item, .element-item.style-border-bottom > ul > li.current-page-item {
    border-color: var(--black-color)
}

.element-item.style-border-top > ul > li {
    border-top: 2px solid transparent;
    transition: all 300ms
}

.element-item.style-border-top > ul > li:hover, .element-item.style-border-top > ul > li.current-menu-item, .element-item.style-border-top > ul > li.current-page-item {
    border-color: var(--black-color)
}

.builder-block-search-box .element-search-box:not(.only-icon) {
    width: 100%
}

.builder-block-search-box .wrap-input {
    width: 100%;
    height: 100%
}

.builder-block-search-box form.zoo-search-form {
    max-width: 100%
}

.builder-block-search-box .style-1 button.search-submit, .builder-block-search-box .style-1 .btn-lb-search {
    background: none
}

.builder-block-search-box .style-2 button.search-submit, .builder-block-search-box .style-2 .btn-lb-search, .builder-block-search-box .style-4 button.search-submit, .builder-block-search-box .style-4 .btn-lb-search {
    background: none;
    border: 1px solid var(--black-color)
}

.builder-block-search-box .style-2 button.search-submit:hover, .builder-block-search-box .style-2 .btn-lb-search:hover, .builder-block-search-box .style-4 button.search-submit:hover, .builder-block-search-box .style-4 .btn-lb-search:hover {
    background: var(--black-color);
    color: #fff
}

.builder-block-search-box .style-3 button.search-submit, .builder-block-search-box .style-3 .btn-lb-search, .builder-block-search-box .style-5 button.search-submit, .builder-block-search-box .style-5 .btn-lb-search {
    background: #ebebeb;
    color: var(--black-color)
}

.builder-block-search-box .style-3 button.search-submit:hover, .builder-block-search-box .style-3 .btn-lb-search:hover, .builder-block-search-box .style-5 button.search-submit:hover, .builder-block-search-box .style-5 .btn-lb-search:hover {
    background: var(--black-color);
    color: #fff
}

.builder-block-search-box .style-2 button.search-submit, .builder-block-search-box .style-2 .btn-lb-search, .builder-block-search-box .style-3 button.search-submit, .builder-block-search-box .style-3 .btn-lb-search {
    border-radius: 50%
}

.builder-block-search-box .style-4 button.search-submit, .builder-block-search-box .style-4 .btn-lb-search, .builder-block-search-box .style-5 button.search-submit, .builder-block-search-box .style-5 .btn-lb-search {
    border-radius: 3px
}

.header-search-form {
    margin: 0;
    padding: 0;
    position: relative;
    max-width: 100%
}

.header-search-form div {
    line-height: 1
}

.header-search-form .input-text {
    padding: 5px 10px;
    line-height: 30px;
    display: block;
    height: 100%
}

.header-search-form.wrap-lb-search .button {
    background: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 50%;
    padding: 10px;
    transform: translateY(-50%);
    cursor: pointer
}

.header-search-form button.search-submit {
    padding: 0 10px;
    min-width: 38px
}

.row-item-group.builder-block-search-box .element-search-box {
    width: auto
}

.header-search-box form.header-search-form {
    border: 1px solid #ebebeb;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between
}

.header-search-box .input-text {
    border: none;
    margin: 0
}

.header-search-box button.search-submit {
    border: none;
    height: 100%;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.wrap-list-cat-search {
    position: relative;
    border-left: 1px solid #ebebeb;
    margin: 5px 0;
    color: var(--black-color);
    cursor: pointer
}

.wrap-list-cat-search .label-cat-search {
    padding: 0 25px 0 10px;
    white-space: nowrap
}

.wrap-list-cat-search select.zoo-product-cat-options {
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 2;
    cursor: pointer
}

.wrap-list-cat-search i {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 0;
    font-size: 12px;
    color: inherit
}

.zoo-live-search .wrap-search-result {
    width: 100%;
    position: absolute;
    padding: 2px 10px;
    box-shadow: -1px 3px 8px #ccc;
    top: 100%;
    left: 0;
    text-align: left;
    background: #fff;
    z-index: 10
}

.zoo-live-search .wrap-search-result.no-result {
    color: var(--black-color);
    padding: 10px;
    font-size: 14px
}

.zoo-live-search .wrap-search-result .list-search-result {
    margin: 0
}

.zoo-live-search .wrap-search-result .search-result-item {
    list-style: none;
    width: 100%;
    display: inline-block;
    padding: 8px 0;
    border-bottom: 1px solid #ebebeb
}

.zoo-live-search .wrap-search-result .search-result-item:last-child {
    border: none
}

.zoo-live-search .wrap-search-result .search-result-item a {
    width: 100%;
    display: flex;
    color: inherit;
    justify-content: flex-start
}

.zoo-live-search .wrap-search-result .wrap-img-result {
    width: 60px
}

.zoo-live-search .wrap-search-result .wrap-img-result img {
    display: block
}

.zoo-live-search .wrap-search-result .wrap-result-content {
    width: calc(100% - 60px);
    padding-left: 10px
}

.zoo-live-search .wrap-search-result .title-result {
    font-size: 1rem;
    margin-bottom: 5px
}

.zoo-live-search .wrap-search-result p {
    margin: 0
}

.zoo-live-search button.search-submit i:before {
    transition: all 300ms
}

.zoo-live-search.searching button.search-submit {
    position: relative
}

.zoo-live-search.searching button.search-submit i:after {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: calc(50% - 11px);
    left: calc(50% - 11px);
    content: '';
    border: 2px solid var(--black-color);
    border-bottom: 2px solid transparent;
    transition: all 300ms;
    animation: circus 500ms infinite linear
}

.zoo-live-search.searching button.search-submit i:before {
    opacity: 0
}

.wrap-lb-search {
    display: block
}

.btn-lb-search {
    padding: 10px;
    display: inline-block;
    color: var(--black-color);
    text-decoration: none
}

.wrap-lb-search {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e "), pointer;
    background: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 300ms
}

.wrap-lb-search .btn-close-lb-search {
    color: #fff;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 1.2rem;
    text-decoration: none
}

.wrap-lb-search .btn-close-lb-search:hover {
    background: none
}

.wrap-lb-search.active {
    opacity: 1;
    z-index: 10;
    visibility: visible;
    transition: opacity 300ms, z-index 0ms
}

.wrap-form-lb-search {
    background: #fff;
    max-height: 40%;
    height: 100%;
    width: 100%;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40%;
    position: absolute;
    transition: all 500ms
}

.wrap-form-lb-search .btn-close-lb-search {
    color: var(--black-color);
    padding: 0;
    line-height: 45px;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 50%;
    border: none
}

.wrap-form-lb-search .btn-close-lb-search:hover {
    color: var(--black-color)
}

.wrap-form-lb-search {
    cursor: auto
}

.active .wrap-form-lb-search {
    top: 0
}

.header-search-box .wrap-form-lb-search .header-search-form {
    width: calc(100% - 30px);
    margin: 0 auto;
    color: #fff;
    border: none;
    border-bottom: 2px solid #959595;
    max-width: 750px;
    overflow: visible
}

.header-search-box .wrap-form-lb-search .header-search-form .input-text {
    background: none;
    border: none;
    padding: 10px 0;
    margin: 0;
    color: var(--black-color);
    font-size: 2rem
}

.header-search-box .wrap-form-lb-search .header-search-form .wrap-input {
    width: 100%
}

.header-search-box .wrap-form-lb-search .header-search-form .button {
    color: #fff;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 5px 10px
}

.header-search-box .wrap-form-lb-search .header-search-form .button:hover {
    background: none
}

.header-search-box .wrap-form-lb-search .header-search-form .wrap-list-cat-search {
    border-color: transparent;
    color: #959595;
    font-size: 1.2rem
}

.wrap-form-lb-search .zoo-live-search.searching button.search-submit i::after {
    border-color: #fff;
    border-bottom-color: transparent
}

.header-search-box.wrap-lb-search .zoo-live-search .wrap-search-result {
    box-shadow: none;
    color: var(--black-color)
}

.element-social-icons {
    margin: 0
}

.element-social-icons li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0 5px 0 0
}

.element-social-icons li:last-child {
    margin: 0
}

.element-social-icons .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5px
}

.element-social-icons .social-icon i {
    width: 14px;
    height: 14px;
    display: block;
    text-align: center
}

.element-social-icons .social-icon.shape-circle {
    border-radius: 50%
}

.element-social-icons .social-icon.shape-rounded {
    border-radius: 2px
}

.element-social-icons.color-default .social-icon:not(.shape-none) {
    color: #fff
}

.element-social-icons.color-default .social-icon:not(.shape-none):hover {
    background: var(--black-color)
}

.element-social-icons.color-default .social-icon.icon-facebook {
    background: #3b5998
}

.element-social-icons.color-default .social-icon.icon-twitter {
    background: #1DA1F2
}

.element-social-icons.color-default .social-icon.icon-youtube, .element-social-icons.color-default .social-icon.icon-youtube-1 {
    background: #cd201f
}

.element-social-icons.color-default .social-icon.icon-pinterest {
    background: #bd081c
}

.element-social-icons.color-default .social-icon.icon-instagram {
    background: #e1306c
}

.element-social-icons.color-default .social-icon.shape-none {
    background: none
}

.element-social-icons.color-default .social-icon.shape-none.icon-facebook {
    color: #3b5998
}

.element-social-icons.color-default .social-icon.shape-none.icon-twitter {
    color: #1DA1F2
}

.element-social-icons.color-default .social-icon.shape-none.icon-youtube, .element-social-icons.color-default .social-icon.shape-none.icon-youtube-1 {
    color: #cd201f
}

.element-social-icons.color-default .social-icon.shape-none.icon-pinterest {
    color: #bd081c
}

.element-social-icons.color-default .social-icon.shape-none.icon-instagram {
    color: #e1306c
}

.wrap-header-off-canvas {
    overflow: hidden;
    visibility: hidden;
    padding: 30px 0;
    width: 360px;
    max-width: calc(100% - 40px)
}

.wrap-header-off-canvas .wrap-content-header-off-canvas {
    max-height: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 0 15px
}

.wrap-header-off-canvas .zoo-search-form {
    width: 100%
}

.wrap-header-off-canvas .wrap-list-cat-search {
    display: none
}

.wrap-header-off-canvas .header-search-box form.header-search-form {
    border: none;
    border-bottom: 2px solid #ebebeb
}

.off-canvas-effect .wrap-header-off-canvas {
    height: 100%;
    width: 360px;
    max-width: calc(100% - 40px);
    background: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    transition: all 300ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: visible
}

.off-canvas-slide-left > .wrap-header-off-canvas {
    left: -360px
}

.off-canvas-slide-left > .off-canvas-close {
    left: calc(100% + 10px);
    right: auto
}

.off-canvas-slide-right > .wrap-header-off-canvas {
    right: -360px
}

.off-canvas-slide-right > .off-canvas-close {
    right: calc(100% + 10px)
}

.header-off-canvas-sidebar.off-canvas-full-screen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
    overflow: hidden;
    overflow-y: scroll
}

.header-off-canvas-sidebar.off-canvas-full-screen.active {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transition: z-index 0ms, opacity 300ms
}

.header-off-canvas-sidebar.off-canvas-full-screen .wrap-content-header-off-canvas {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: visible;
    height: auto;
    padding: 50px 30px
}

.header-off-canvas-sidebar.off-canvas-full-screen .wrap-header-off-canvas {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0;
    max-width: 480px;
    overflow: visible
}

.header-off-canvas-sidebar.off-canvas-full-screen .mask-off-canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0 !important
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu li {
    border: none
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu li:first-child {
    border: none
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu ul {
    margin: 0;
    width: 100%
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu ul ul {
    padding: 10px 0 10px 35px
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu ul ul a {
    color: #959595
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu ul ul a:hover {
    color: var(--black-color)
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu > ul > li {
    padding: 2px 0;
    font-weight: 600
}

.header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu li.menu-item .zoo-icon-down {
    padding: 0 !important;
    display: block
}

.header-off-canvas-sidebar.off-canvas-full-screen .mask-off-canvas {
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23000'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer
}

.off-canvas-close {
    position: fixed;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    color: #fff
}

.off-canvas-close:hover {
    color: #fff
}

.mask-off-canvas {
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -1;
    transition: all 300ms;
    opacity: 0;
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer
}

.header-off-canvas-sidebar.active .wrap-header-off-canvas {
    visibility: visible
}

.header-off-canvas-sidebar.active.off-canvas-slide-left .wrap-header-off-canvas {
    transform: translateX(360px)
}

.header-off-canvas-sidebar.active.off-canvas-slide-right .wrap-header-off-canvas {
    transform: translateX(-360px)
}

.header-off-canvas-sidebar.active .mask-off-canvas {
    visibility: visible;
    opacity: 1;
    transition: opacity 300ms, z-index 0ms;
    z-index: 9
}

.header-off-canvas-sidebar.is-text-dark {
    color: var(--black-color)
}

.header-off-canvas-sidebar.is-text-dark a:hover {
    color: #666
}

.header-off-canvas-sidebar.is-text-dark.off-canvas-full-screen {
    background: #fff
}

.header-off-canvas-sidebar.is-text-dark.off-canvas-full-screen .mask-off-canvas {
    opacity: 0 !important
}

.header-off-canvas-sidebar.is-text-dark.off-canvas-full-screen .off-canvas-close {
    color: var(--black-color);
    font-size: 2rem
}

.header-off-canvas-sidebar.is-text-light {
    color: #fff
}

.header-off-canvas-sidebar.is-text-light.off-canvas-effect .wrap-header-off-canvas {
    background: var(--black-color)
}

.header-off-canvas-sidebar.is-text-light.off-canvas-full-screen {
    background: rgba(0, 0, 0, 0.8)
}

.header-off-canvas-sidebar.is-text-light a:hover {
    color: #666
}

.header-off-canvas-sidebar.off-canvas-dropdown {
    width: 100%;
    display: none
}

.header-off-canvas-sidebar.off-canvas-dropdown .mask-off-canvas, .header-off-canvas-sidebar.off-canvas-dropdown .off-canvas-close {
    display: none
}

.header-off-canvas-sidebar.off-canvas-dropdown.is-text-dark {
    color: var(--black-color);
    background: #fff
}

.header-off-canvas-sidebar.off-canvas-dropdown.is-text-light {
    background: var(--black-color);
    color: #fff
}

.header-off-canvas-sidebar.off-canvas-dropdown .wrap-header-off-canvas {
    visibility: visible;
    margin: 0 auto
}

.header-off-canvas-sidebar .element-item {
    width: 100%
}

.header-off-canvas-sidebar .element-language-switcher {
    padding: 0
}

.header-off-canvas-sidebar .element-language-switcher .language-options {
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
    padding: 5px 0
}

.header-off-canvas-sidebar .element-language-switcher .language-options:after {
    font-weight: normal;
    transform: none;
    position: static;
    margin: 0 5px;
    font-size: 65%
}

.header-off-canvas-sidebar .element-language-switcher .list-languages {
    width: 100%;
    box-shadow: none;
    background: none;
    color: inherit;
    position: static;
    opacity: 1;
    visibility: visible;
    display: none;
    transition: none
}

@media (min-width: 992px) {
    .header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu ul ul {
        padding: 10px 0 10px 35px
    }

    .header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu ul ul a {
        font-size: 20px
    }

    .header-off-canvas-sidebar.off-canvas-full-screen .mobile-menu > ul > li > a {
        font-size: 30px
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu .mobile-menu li {
        border: none;
        font-weight: 600
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu .mobile-menu li ul {
        border: none;
        padding-left: 35px
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu nav.mobile-menu > ul li {
        padding: 3px 0
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu nav.mobile-menu > ul ul {
        margin-bottom: 10px;
        color: #959595
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu nav.mobile-menu > ul ul a:hover {
        color: var(--black-color)
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu nav.mobile-menu > ul > li {
        padding: 0
    }

    .off-canvas-effect .desktop-builder-block-mobile-menu nav.mobile-menu > ul > li > a {
        font-size: 30px
    }
}

.mobile-menu ul {
    width: 100%;
    padding: 0;
    margin: 0
}

.mobile-menu ul ul {
    margin-top: 5px;
    margin-left: 0;
    padding-left: 10px;
    display: none;
    width: 100%;
    border-top: 1px solid #ebebeb
}

.mobile-menu li {
    width: 100%;
    list-style: none;
    padding: 8px 0;
    position: relative;
    border-bottom: 1px solid #ebebeb
}

.mobile-menu li li:last-child {
    padding-bottom: 0 !important;
    border-bottom: 0 !important
}

.mobile-menu li li:first-child {
    border-top: none
}

.mobile-menu a {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative
}

.mobile-menu li.menu-item .zoo-icon-down {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}

.mobile-menu li.menu-item .zoo-icon-down:after, .mobile-menu li.menu-item .zoo-icon-down:before {
    content: '' !important;
    display: block;
    transition: all 200ms;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.mobile-menu li.menu-item .zoo-icon-down:after {
    border-left: 2px solid;
    height: 14px;
    width: 2px
}

.mobile-menu li.menu-item .zoo-icon-down:before {
    border-top: 2px solid;
    width: 14px;
    height: 2px
}

.mobile-menu li.menu-item .zoo-icon-down.active:after {
    opacity: 0
}

.mobile-menu.style-border-bottom li {
    border-bottom: 1px solid #ebebeb
}

.mobile-menu.style-border-top li {
    border-top: 1px solid #ebebeb
}

@media (min-width: 992px) {
    .mobile-menu li.menu-item .zoo-icon-down:before {
        width: 20px
    }

    .mobile-menu li.menu-item .zoo-icon-down:after {
        height: 20px
    }
}

.element-header-account {
    position: relative
}

.element-header-account .account-icon i {
    line-height: 1
}

.element-header-account .woocommerce {
    padding: 0
}

.element-header-account.left-position .wrap-dashboard-form {
    left: 0
}

.element-header-account.right-position .wrap-dashboard-form {
    right: 0
}

.element-header-account .wrap-dashboard-form {
    opacity: 0;
    visibility: hidden;
    width: 220px;
    padding: 8px 15px;
    background: #fff;
    position: absolute;
    top: calc(100% + 60px);
    box-shadow: -2px 2px 82px -26px rgba(0, 0, 0, 0.25);
    transition: 300ms
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation {
    margin: 0;
    padding: 0;
    border-right: 0
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation a {
    text-transform: none;
    font-weight: normal;
    color: var(--black-color)
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation ul {
    border: none;
    margin: 0;
    padding: 0
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation ul li.is-active {
    background: none
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation ul li:hover {
    background: none
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation ul li {
    list-style: none;
    margin: 0;
    font-weight: 400;
    padding: 8px 0;
    width: 100%;
    text-align: left;
    text-transform: none;
    border-bottom: 1px solid #ebebeb
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-navigation ul li:last-child {
    border: none
}

.element-header-account .wrap-dashboard-form .woocommerce-MyAccount-content {
    display: none
}

.element-header-account:hover .wrap-dashboard-form {
    opacity: 1;
    z-index: 6;
    visibility: visible;
    top: 100%
}

.element-header-account.button-style .account-element-link {
    display: inline-block;
    background: var(--black-color);
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold
}

.element-header-account.button-style .account-element-link:hover {
    background: #f5f5f5;
    color: var(--black-color)
}

.element-header-account.button-style .account-element-link.account-url {
    display: flex
}

.login-form-popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 300ms
}

.login-form-popup .woocommerce {
    padding: 0
}

.login-form-popup .u-columns > div {
    width: 100%;
    max-width: 100%;
    padding: 0
}

.login-form-popup .u-columns > div.u-column2 {
    display: none
}

.login-form-popup h2 {
    display: none
}

.login-form-popup .woocommerce form.login {
    border: none;
    padding: 0;
    margin-top: 0
}

.login-form-popup .wrap-login-form {
    color: var(--black-color);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 45px 25px 10px 25px;
    background: #fff;
    box-shadow: -2px 2px 82px -26px rgba(0, 0, 0, 0.25)
}

.login-form-popup .wrap-login-form > p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center
}

.login-form-popup .wrap-login-form > p .lb-login {
    float: left;
    text-align: left;
    width: 50%;
    text-transform: uppercase
}

.login-form-popup .wrap-login-form > p a.register {
    float: right;
    text-align: right;
    width: 50%
}

.login-form-popup .wrap-login-form > p span {
    transition: all 300ms
}

.login-form-popup .wrap-login-form .close-login {
    position: absolute;
    top: 5px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    right: 0;
    z-index: 1;
    font-size: 16px;
    cursor: pointer
}

.login-form-popup .overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer
}

.login-form-popup .wrap-register-toggle-button {
    display: none
}

.login-form-popup p.lost_password {
    display: flex;
    justify-content: space-between
}

.active.login-form-popup {
    opacity: 1;
    visibility: visible
}

.active.woocommerce-error {
    display: none
}

.active-login-error .login-form-popup {
    opacity: 1;
    visibility: visible;
    height: 0;
    top: 100%
}

.active-login-error .login-form-popup .wrap-login-form {
    width: 450px;
    box-shadow: none;
    background: transparent;
    top: 100%
}

.active-login-error .login-form-popup .wrap-login-form > p {
    display: none
}

.active-login-error .login-form-popup .wrap-login-form .close-login {
    z-index: 5;
    top: -40px;
    font-size: 13px
}

.active-login-error .login-form-popup .wrap-login-form .woocommerce-error {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    position: fixed;
    top: -40px;
    left: 50%;
    width: 450px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    background: #fff;
    border: 1px solid red
}

.active-login-error .login-form-popup .wrap-login-form .woocommerce-error li {
    width: 100%;
    color: #333;
    font-size: 14px
}

.active-login-error .login-form-popup .wrap-login, .active-login-error .login-form-popup .overlay {
    display: none;
    opacity: 0;
    visibility: hidden
}

.account-icon i {
    display: block
}

.account-element-link {
    display: flex;
    align-items: center
}

.login-form-off-canvas .wrap-login-form {
    width: 450px;
    overflow: hidden;
    overflow-y: auto;
    max-width: calc(100vw - 50px);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 9;
    padding: 20px;
    transform: translateX(450px);
    transition: all 300ms
}

.login-form-off-canvas .wrap-login-form .wc-social-login .ywsl-label {
    padding: 0 0 30px;
    font-weight: 600;
    color: var(--black-color)
}

.login-form-off-canvas .wrap-login-form .wc-social-login .socials-list {
    margin-bottom: 25px
}

.login-form-off-canvas .lb-login {
    text-transform: uppercase;
    font-weight: 600;
    color: var(--black-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden
}

.login-form-off-canvas .lb-login:before, .login-form-off-canvas .lb-login:after {
    content: "";
    flex: 1 0 0;
    border-bottom: 1px solid #ebebeb
}

.login-form-off-canvas .lb-login:before {
    margin-right: 20px
}

.login-form-off-canvas .lb-login:after {
    margin-left: 20px
}

.login-form-off-canvas .button {
    width: 100%
}

.login-form-off-canvas .additional-login-info {
    display: flex;
    justify-content: space-between
}

.login-form-off-canvas .form-row input {
    margin: 0
}

.login-form-off-canvas .wrap-register-toggle-button {
    display: none
}

.login-form-off-canvas .wrap-create-account-button .lb-login {
    margin-bottom: 25px
}

.login-form-off-canvas .wrap-create-account-button .button {
    text-align: center
}

.login-form-off-canvas .overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: var(--black-color);
    opacity: 0;
    visibility: hidden;
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer;
    transition: all 300ms
}

.login-form-off-canvas.active .wrap-login-form {
    transform: translateX(0)
}

.login-form-off-canvas.active .overlay {
    opacity: 0.8;
    visibility: visible;
    z-index: 8
}

@media (min-width: 992px) {
    .login-form-off-canvas .wrap-login-form {
        padding: 30px 40px
    }
}

.element-cart-icon {
    position: relative
}

.element-cart-icon:not(.inside) .element-cart-count {
    bottom: 100%;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box
}

.element-cart-icon.top-left .element-cart-count {
    right: 100%;
    transform: translate(50%, 50%)
}

.element-cart-icon.top-right .element-cart-count {
    left: 100%;
    transform: translate(-50%, 50%)
}

.element-cart-icon.inside .element-cart-count {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

.element-cart-count {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1;
    width: 20px;
    height: 20px
}

.element-cart-link {
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.icon-element-cart {
    position: relative
}

.icon-element-cart i {
    width: 1em;
    height: 1em;
    display: block;
    line-height: 1em;
    font-size: 1em
}

.wrap-right-element-cart {
    display: flex;
    flex-direction: column;
    text-align: left
}

.wrap-right-element-cart span {
    line-height: 1.3
}

.wrap-right-element-cart > span {
    width: 100%;
    display: inline-block
}

@media (max-width: 576px) {
    .wrap-right-element-cart {
        display: none
    }

    .heading-element-cart-content .close-cart {
        right: calc(100% + 10px)
    }
}

.heading-element-cart-content {
    width: 100%;
    padding: 0;
    color: var(--black-color);
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.5px;
    text-align: left;
    font-weight: 500
}

.heading-element-cart-content .close-cart {
    cursor: pointer;
    position: absolute;
    right: calc(100% + 15px);
    top: 10px;
    color: #fff
}

.element-cart-content.element-off-canvas-cart {
    width: calc(100% - 50px);
    max-width: 440px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    z-index: 99;
    visibility: hidden;
    transform: translateX(440px);
    transition: all 300ms;
    padding: 15px 30px 30px
}

.element-cart-content.element-off-canvas-cart .widget_shopping_cart_content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 55px)
}

.element-cart-content.element-off-canvas-cart ul.woocommerce-mini-cart {
    max-height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 10px 10px;
    flex-grow: 1
}

.element-cart-content.element-off-canvas-cart .woocommerce-mini-cart__buttons {
    margin-bottom: 0
}

.element-cart-content.element-off-canvas-cart .woocommerce-mini-cart__empty-message {
    padding: 30px 0;
    text-align: center
}

.mask-close {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0;
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer;
    z-index: 90;
    visibility: hidden;
    transition: all 300ms
}

.off-canvas-cart-active .mask-close {
    visibility: visible;
    opacity: 0.65;
    transition: z-index 0ms, opacity 300ms
}

.off-canvas-cart-active .element-cart-content {
    transform: translateY(0);
    visibility: visible
}

.widget_shopping_cart_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left;
    justify-content: space-between
}

.wrap-element-cart-off-canvas.loading .element-cart-content:before {
    width: 20px;
    height: 20px;
    background: #E2AF9A;
    content: '';
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% -50%);
    animation: blink 500ms infinite ease-in-out;
    z-index: 1
}

.wrap-element-cart-off-canvas.loading .element-cart-content > div {
    opacity: 0.6
}

.element-cart-icon .widget_shopping_cart_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: left
}

.element-cart-icon.drop-down .element-cart-content {
    position: absolute;
    max-height: 450px;
    left: 0;
    top: calc(100% + 30px);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms;
    padding: 10px 15px;
    background: #fff;
    box-shadow: -2px 2px 82px -26px rgba(0, 0, 0, 0.3);
    z-index: 99;
    width: 360px;
    overflow: hidden
}

.element-cart-icon.drop-down .widget_shopping_cart_content {
    max-height: 430px
}

.element-cart-icon.drop-down .woocommerce-mini-cart__buttons, .element-cart-icon.drop-down .button {
    margin: 0
}

.element-cart-icon.drop-down .woocommerce-mini-cart {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll
}

.element-cart-icon.drop-down:hover .element-cart-content {
    visibility: visible;
    opacity: 1;
    top: 100%
}

.element-cart-icon.style-2 .icon-element-cart {
    font-size: 35px
}

.element-cart-icon.style-3 .element-cart-link, .element-cart-icon.style-4 .element-cart-link, .element-cart-icon.style-5 .element-cart-link, .element-cart-icon.style-6 .element-cart-link {
    padding: 0 15px
}

.element-cart-icon.style-3 .title-element-cart, .element-cart-icon.style-4 .title-element-cart, .element-cart-icon.style-5 .title-element-cart, .element-cart-icon.style-6 .title-element-cart {
    display: flex
}

.element-cart-icon.style-3 .title-element-cart:after, .element-cart-icon.style-4 .title-element-cart:after, .element-cart-icon.style-5 .title-element-cart:after, .element-cart-icon.style-6 .title-element-cart:after {
    content: '/';
    padding: 0 3px
}

.element-cart-icon.style-3 .wrap-right-element-cart, .element-cart-icon.style-4 .wrap-right-element-cart, .element-cart-icon.style-5 .wrap-right-element-cart, .element-cart-icon.style-6 .wrap-right-element-cart {
    order: -1;
    flex-direction: row;
    padding-right: 5px;
    padding-left: 0
}

.element-cart-icon.style-3 .icon-element-cart, .element-cart-icon.style-4 .icon-element-cart, .element-cart-icon.style-5 .icon-element-cart, .element-cart-icon.style-6 .icon-element-cart {
    order: 2;
    width: auto
}

.element-cart-icon.style-3 .element-cart-count, .element-cart-icon.style-4 .element-cart-count, .element-cart-icon.style-5 .element-cart-count, .element-cart-icon.style-6 .element-cart-count {
    display: none
}

.element-cart-icon.style-3 .element-cart-link {
    background: #E2AF9A;
    border-radius: 20px
}

.element-cart-icon.style-4 .element-cart-link {
    border: 1px solid;
    border-radius: 20px
}

.element-cart-icon.style-5 .element-cart-link {
    background: #E2AF9A;
    border-radius: 5px
}

.element-cart-icon.style-6 .element-cart-link {
    border: 1px solid;
    border-radius: 5px
}

.element-cart-icon.style-7 .element-cart-link {
    border: none
}

.element-cart-icon.style-7 .wrap-right-element-cart {
    flex-direction: row;
    align-items: center
}

.element-cart-icon.style-7 .wrap-right-element-cart .element-cart-count {
    position: static;
    background: none;
    color: inherit;
    font-size: inherit;
    transform: none;
    width: auto;
    height: auto;
    padding: 0 3px 0 0;
    min-width: 0
}

@media (min-width: 992px) {
    .heading-element-cart-content {
        padding: 0 0 10px
    }

    .element-cart-content.element-off-canvas-cart {
        padding: 30px 40px 20px
    }

    .element-cart-content.element-off-canvas-cart ul.woocommerce-mini-cart {
        padding: 10px 0
    }
}

@media (max-width: 556px) {
    .element-cart-content.element-off-canvas-cart {
        padding: 15px 20px 20px
    }

    .element-cart-content.element-off-canvas-cart .widget_shopping_cart_content {
        height: calc(100% - 30px)
    }

    .element-cart-content.element-off-canvas-cart ul.woocommerce-mini-cart {
        padding: 10px 0
    }

    .free-shipping-required-notice .zoo-loading-bar {
        margin-bottom: 0
    }

    .free-shipping-required-notice .shipping-heading-notice {
        margin-bottom: 0
    }

    .woocommerce .widget_shopping_cart .woocommerce-mini-cart .wrap-product-thumb {
        width: 60px
    }

    .woocommerce .widget_shopping_cart .woocommerce-mini-cart .wrap-product-cart-detail {
        width: calc(100% - 60px)
    }

    .woocommerce .widget_shopping_cart .buttons a {
        white-space: nowrap
    }
}

@media (max-width: 480px) {
    .woocommerce .widget_shopping_cart .free-shipping-required-notice {
        display: none
    }
}

.language-options {
    padding-right: 20px;
    position: relative;
    display: block
}

.language-options:after {
    content: '\c059';
    font-family: cleversoft;
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 65%
}

.element-language-switcher {
    padding: 5px 10px;
    position: relative
}

.element-language-switcher .language-options {
    cursor: pointer
}

.element-language-switcher .list-languages {
    margin: 0;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(100% + 30px);
    left: 0;
    background: #fff;
    width: 220px;
    transition: all 300ms;
    box-shadow: -2px 2px 16px #ccc
}

.element-language-switcher .list-languages li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 10px
}

.element-language-switcher .list-languages li:last-child {
    border: none
}

.element-language-switcher .list-languages li a {
    display: block;
    color: inherit
}

.element-language-switcher .list-languages .icon-image {
    margin-right: 5px
}

.element-language-switcher:hover {
    z-index: 11
}

.element-language-switcher:hover .list-languages {
    top: 100%;
    opacity: 1;
    visibility: visible
}

.element-header-wishlist .wishlist-icon {
    display: flex;
    position: relative
}

.element-header-wishlist .wishlist-icon i {
    display: flex;
    justify-content: center;
    align-items: center
}

.element-header-wishlist .wishlist-counter {
    position: absolute;
    bottom: 100%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box
}

.element-header-wishlist .wishlist-counter.zoo-hidden {
    display: none
}

.element-header-wishlist .wishlist-title {
    padding-left: 5px
}

.element-header-wishlist.top-left .wishlist-counter {
    right: 100%;
    transform: translate(50%, 50%)
}

.element-header-wishlist.top-right .wishlist-counter {
    left: 100%
}

.element-header-wishlist.inside .wishlist-counter {
    left: 50%;
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%)
}

.element-header-wishlist .wishlist-link {
    display: flex;
    align-items: center
}

.products-compare-link {
    display: flex;
    align-items: center
}

.element-header-products-compare .products-compare-icon, .element-header-products-compare .products-compare-title {
    transition: all 300ms
}

.element-header-products-compare .products-compare-icon {
    display: inline-block;
    position: relative
}

.element-header-products-compare .products-compare-icon i {
    display: flex;
    justify-content: center;
    align-items: center
}

.element-header-products-compare .products-compare-counter {
    position: absolute;
    bottom: 100%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box
}

.element-header-products-compare .products-compare-counter.zoo-hidden {
    display: none
}

.element-header-products-compare .products-compare-title {
    padding-left: 5px
}

.element-header-products-compare.top-left .products-compare-counter {
    right: 100%;
    transform: translate(50%, 50%)
}

.element-header-products-compare.top-right .products-compare-counter {
    left: 100%
}

.element-header-products-compare.inside .products-compare-counter {
    left: 50%;
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%)
}

.zoo-popup-panel {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11
}

.zoo-popup-panel .popup-mask-close {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer
}

.zoo-popup-panel .popup-mask-close.loading:before {
    width: 20px;
    height: 20px;
    background: #E2AF9A;
    content: '';
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50% -50%);
    animation: blink 500ms infinite ease-in-out
}

.zoo-popup-panel .popup-close-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    border: none;
    background: none;
    color: #fff;
    cursor: pointer;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 18px
}

.zoo-popup-panel .zoo-popup-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: none;
    flex-direction: column
}

.zoo-popup-panel .zoo-wrap-popup-content {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    max-height: calc(90vh - 60px);
    max-width: 90vw;
    width: 1200px;
    padding: 0
}

.zoo-popup-inner {
    padding: 0
}

.zoo-popup-inner > p {
    text-align: center;
    padding: 50px 50px 35px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px
}

.zoo-popup-inner h2.zoo-popup-panel-title {
    text-align: center;
    margin-bottom: 0px;
    width: calc(100% + 30px);
    margin-left: -15px;
    background: var(--black-color);
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px
}

.zoo-popup-inner table th {
    padding-left: 10px;
    padding-right: 10px
}

.zoo-popup-inner table td {
    vertical-align: middle;
    text-align: center;
    padding: 10px
}

.zoo-popup-inner table td.product-thumbnail {
    max-width: 80px
}

.zoo-popup-inner table.products-compare-table td:nth-child(even) {
    background: #f5f5f5
}

.zoo-popup-inner table.products-compare-table tr.attribute-head-group-row td {
    background: none
}

.zoo-popup-inner table.products-compare-table tbody tr:nth-child(2n) {
    background: none
}

.zoo-popup-inner .product-thumbnail a {
    display: inline-block;
    float: left;
    width: 100%
}

.zoo-popup-inner .product-thumbnail img {
    display: block
}

.zoo-popup-inner .product-remove-wishlist {
    padding-left: 10px;
    padding-right: 10px
}

.remove-from-wishlist {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    background: red;
    color: #fff;
    font-size: 12px
}

table.wishlist-items-table {
    border: none
}

table.wishlist-items-table td, table.wishlist-items-table th {
    text-align: left;
    border-right: 0
}

table.wishlist-items-table .product-thumbnail {
    padding-left: 0
}

.products-compare-table .product-remove {
    text-align: center
}

.products-compare-table .product-title, .products-compare-table .product-thumbnail {
    text-align: center
}

.products-compare-table .product-thumbnail img {
    width: 110px;
    margin: 0 auto
}

.products-compare-table th {
    text-align: left;
    font-size: 16px;
    color: var(--black-color)
}

.products-compare-table .attribute-head-group-row th {
    font-weight: bold
}

.products-compare-table .attribute-group-row th {
    padding-left: 15px
}

.content-mobile .remove-from-wishlist {
    position: absolute;
    right: 5px;
    top: 5px
}

@media (max-width: 991.98px) {
    table.wishlist-items-table thead {
        display: none
    }

    table.wishlist-items-table tbody td {
        display: none;
        position: relative
    }

    table.wishlist-items-table tbody .product-title, table.wishlist-items-table tbody .product-thumbnail {
        display: table-cell
    }
}

@media (min-width: 767.98px) {
    table.wishlist-items-table .content-mobile {
        display: none
    }
}

.zoo-popup-panel .products-compare-panel-inner .zoo-wrap-popup-content {
    overflow: scroll
}

.zoo-wrap-popup-content .products-compare-table td {
    min-width: 270px;
    padding: 10px
}

.zoo-wrap-popup-content .product-cart .add_to_cart_button {
    white-space: nowrap
}

.zoo-wrap-popup-content .product-cart .add_to_cart_button.added {
    display: none
}

@media (max-width: 992px) {
    .zoo-wrap-popup-content .products-compare-table td {
        min-width: 200px
    }
}

@media (max-width: 768px) {
    .zoo-wrap-popup-content .products-compare-table td {
        min-width: 180px
    }
}

.primary-menu li.is-mega-menu {
    position: static
}

.primary-menu li.is-mega-menu:hover > .mega-menu-content {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: translate(-50%, 0)
}

.primary-menu .mega-menu-content {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: calc(100% + 30px);
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 15px;
    background: #fff;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.3);
    transition: all 200ms
}

.primary-menu .mega-menu-content ul.sub-menu {
    position: static;
    max-width: 100%;
    box-shadow: none;
    background: none;
    margin: 0
}

.primary-menu .mega-menu-content ul.sub-menu li {
    padding: 5px 0;
    text-align: left
}

.primary-menu .mega-menu-content .row {
    align-items: stretch;
    flex-wrap: wrap
}

.menu-item-mega {
    text-align: left
}

.menu-item-mega > a > span.zoo-icon-down {
    display: none
}

.menu-item-mega > a {
    position: relative
}

.builder-item .items-badge {
    color: #fff;
    font-size: 11px;
    padding: 0 10px;
    line-height: 15px;
    height: 18px;
    border-radius: 10px;
    position: absolute;
    bottom: 50%;
    left: 100%
}

.builder-item .items-badge.hot-badge {
    background: #cd201f
}

.builder-item .items-badge.new-badge {
    background: #8ec549
}

.builder-item .items-badge.trending-badge {
    background: #1DA1F2
}

.menu-item-title {
    position: relative
}

.element-item .account-icon, .element-item .wishlist-link, .element-item .icon-element-cart, .element-item .btn-lb-search, .element-item .products-compare-link {
    min-height: 25px;
    min-width: 25px;
    display: flex;
    justify-content: center;
    align-items: center
}

.zoo-css-icon-menu {
    border-bottom: 2px solid;
    width: 18px;
    display: inline-block;
    margin: 10px 0;
    position: relative;
    transition: all 300ms
}

.zoo-css-icon-menu:after, .zoo-css-icon-menu:before {
    content: '';
    border-bottom: 2px solid;
    width: 100%;
    position: absolute;
    left: 0;
    transition: all 300ms;
    transform-origin: center
}

.zoo-css-icon-menu:before {
    top: -6px
}

.zoo-css-icon-menu:after {
    bottom: -8px
}

.icon-style-dots .zoo-css-icon-menu {
    border-bottom: 4px dotted;
    width: 8px;
    margin: 10px 10px 10px 6px
}

.icon-style-dots .zoo-css-icon-menu:after, .icon-style-dots .zoo-css-icon-menu:before {
    border-bottom: 4px dotted
}

.icon-style-dots .zoo-css-icon-menu:before {
    top: -8px
}

.icon-style-dots .zoo-css-icon-menu:after {
    bottom: -12px
}

.icon-style-filter .zoo-css-icon-menu:after {
    width: 50%
}

.builder-block-nav-icon {
    display: flex
}

.builder-block-nav-icon.row-align-left {
    justify-content: flex-start
}

.builder-block-nav-icon.row-align-right {
    justify-content: flex-end
}

.builder-block-nav-icon.row-align-center {
    justify-content: center
}

.element-nav-icon {
    color: var(--black-color);
    display: flex;
    align-items: center
}

.element-nav-icon .nav-icon-label {
    padding-left: 5px
}

.element-nav-icon.active .zoo-css-icon-menu {
    border-color: transparent
}

.element-nav-icon.active .zoo-css-icon-menu:after, .element-nav-icon.active .zoo-css-icon-menu:before {
    width: 23px
}

.element-nav-icon.active .zoo-css-icon-menu:before {
    transform: rotate(45deg)
}

.element-nav-icon.active .zoo-css-icon-menu:after {
    transform: rotate(-45deg)
}

.element-top-menu ul {
    margin: 0
}

.element-top-menu ul.nav-menu > li {
    display: inline-block;
    margin: 0 10px;
    padding: 0
}

.element-top-menu ul.nav-menu > li > a {
    padding: 10px 0;
    display: block
}

.element-top-menu ul.nav-menu > li:first-child {
    margin-left: 0
}

.element-top-menu ul.nav-menu > li:last-child {
    margin-right: 0
}

.element-top-menu ul.nav-menu > li > ul {
    top: calc(100% + 30px);
    left: 0
}

.element-top-menu ul.nav-menu > li > ul.pos-left {
    left: auto;
    right: 0
}

.element-top-menu ul.nav-menu > li:hover > ul {
    top: 100%;
    left: 0
}

.element-top-menu ul.nav-menu > li:hover > ul.pos-left {
    left: auto;
    right: 0
}

.element-top-menu li.menu-item {
    list-style: none;
    position: relative
}

.element-top-menu li.menu-item ul {
    text-align: left;
    position: absolute;
    background: #fff;
    box-shadow: -2px 2px 81px -17px rgba(0, 0, 0, 0.29);
    width: 250px;
    left: calc(100% + 30px);
    top: 0;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
    z-index: 5
}

.element-top-menu li.menu-item ul.pos-left {
    left: auto;
    right: calc(100% + 30px)
}

.element-top-menu li.menu-item ul li {
    width: 100%;
    padding: 0
}

.element-top-menu li.menu-item ul li a {
    padding: 10px 15px;
    display: block
}

.element-top-menu li.menu-item ul a {
    color: var(--black-color)
}

.element-top-menu li.menu-item:hover > ul {
    left: 100%;
    opacity: 1;
    visibility: visible
}

.element-top-menu li.menu-item:hover > ul.pos-left {
    left: auto;
    right: 100%
}

.element-top-menu.style-border-bottom > ul > li {
    border-bottom: 2px solid var(--black-color)
}

.element-top-menu.style-border-top > ul > li {
    border-top: 2px solid var(--black-color)
}

.header-off-canvas-sidebar.off-canvas-effect .primary-menu .mega-menu-content, .header-off-canvas-sidebar.off-canvas-effect .primary-menu ul.sub-menu {
    left: 100%;
    top: 100%
}

.header-off-canvas-sidebar.off-canvas-effect .primary-menu .menu-item:hover > .mega-menu-content, .header-off-canvas-sidebar.off-canvas-effect .primary-menu .menu-item:hover > ul.sub-menu {
    top: 0
}

.button.button-outline {
    border: 2px solid;
    color: var(--black-color);
    background: transparent
}

.button.button-outline:hover {
    background: var(--black-color);
    color: #fff;
    border-color: var(--black-color)
}