.elementor-82 .elementor-element.elementor-element-2feaff8{margin-top:90px;margin-bottom:90px;}@media(min-width:768px){.elementor-82 .elementor-element.elementor-element-5be0097{width:74.665%;}.elementor-82 .elementor-element.elementor-element-b10d7a3{width:25%;}}