.elementor-80 .elementor-element.elementor-element-f3fb1dc{margin-top:90px;margin-bottom:90px;}@media(min-width:768px){.elementor-80 .elementor-element.elementor-element-3eeec17{width:25%;}.elementor-80 .elementor-element.elementor-element-2c1f1fa{width:74.665%;}}