@-webkit-keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.products-border {
    .product {
        .wrap-product-img {
            border: 1px solid $border_color;
        }
    }
    .wrap-product-loop-content {
        width: calc(100% + 1px);
    }
}

.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: $white_text;
}

.woocommerce li.product a.button {
    line-height: 20px;
    padding: 10px 15px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    @include px2rem(13);
    background: $main_color;
    color: $white_text;
    padding: 5px 25px;
    line-height: 30px;
    border-radius: 0;
    &:hover {
        background: $sec_accent_color;
        color: $white_text;
    }
}

.woocommerce.archive {
    .main-content {
        padding-top: 0;
    }
    .zoo-wrap-product-shop-loop {
        padding-top: 60px
    }
}

/* Mask close for all theme light box or off canvas**/
.zoo-mask-close {
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    cursor: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 18 18' fill='%23fff'%3e%3cpath d='M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z'/%3e%3c/svg%3e"), pointer;
    opacity: 0;
    visibility: hidden;
    transition: z-index 300ms, opacity 300ms;
    &.loading:before {
        width: 20px;
        height: 20px;
        background: $blink_color;
        content: '';
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        @include border-radius(50%);
        transform: translate(-50% -50%);
        animation: blink 500ms infinite ease-in-out;
    }
    &.active {
        z-index: 88;
        opacity: 1;
        visibility: visible;
        transition: z-index 0ms, opacity 300ms;
    }
}

/* End mask close for all theme light box or off canvas**/
.woocommerce .woocommerce-breadcrumb {
    color: $sec_accent_color;
    @include px2rem(14);
    display: flex;
    align-items: center;
    height: 35px;
    a {
        color: $main_color;
        &:hover {
            color: $sec_accent_color;
        }
    }
    .dotted {
        width: 5px;
        height: 5px;
        background: $sec_accent_color;
        border-radius: 50%;
        display: inline-block;
        margin: 3px 10px 0
    }
}

.wrap-top-shop-loop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background: $bg_breadcrumb;
    padding:0 10px;
    .left-top-shop-loop, .right-top-shop-loop {
        width: 100%;
    }
    .zoo-sidebar-control {
        margin-right: 20px;
        color: $main_color;
        &:hover {
            color: $sec_accent_color;
        }
    }
}
.wrap-toggle-products-layout{
    display: none;
    .label-toggle-products-layout{
        text-transform: uppercase;
        font-weight: 500;
        color: $main_color;
        letter-spacing: 1px;
        @include px2rem(14);
        margin:0 10px 0 0;
    }
    .toggle-products-layout-button{
        margin:0 5px;
        position: relative;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        color: $sidebar_color;
        .togglelines{
            width: 18px;
            margin:11px 0 11px 5px;
            &:after,&:before{
                width: 18px;
            }
        }
        &.active, &:hover{
            color: $main_color;
        }
    }
}

@media(min-width: 481px) {
    .wrap-top-shop-loop .left-top-shop-loop {
        display: flex;
        align-items: center;
    }
    .wrap-top-shop-loop .woocommerce-breadcrumb {
        display: flex;
    }
}

.right-top-shop-loop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .woocommerce-result-count, .woocommerce-ordering {
        margin-bottom: 0;
    }
    .woocommerce-result-count {
        padding: 0 15px;
        color: $sec_accent_color;
        font-size: 1rem;
    }
}

.woocommerce-ordering {
    position: relative;
    &:after {
        content: '\c059';
        font-family: 'cleversoft';
        @include px2rem(10);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    select {
        @include px2rem(14);
        cursor: pointer;
        border: none;
        text-transform: uppercase;
        text-align: right;
        font-weight: 500;
        font-family: inherit;
        padding-right: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
        position: relative;
        z-index: 1;
        background: none;
        outline: none !important;
        &:focus {
            outline: none !important;
        }
    }
}
@media (min-width: 992px) {
    .wrap-toggle-products-layout{
        display: flex;
        align-items: center;
    }
    .wrap-top-shop-loop {
        .zoo-sidebar-control {
            margin-right: 40px;
        }
    }
}
@media (min-width: 768px) {
    .wrap-top-shop-loop {
        .left-top-shop-loop, .right-top-shop-loop {
            width: 50%
        }
    }
}

@media(max-width: 992px) {
    .woocommerce-result-count {
        display: none;
    }
}

ul.products {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    flex-wrap: wrap;
    display: flex;
    &.highlight-featured {
        display: inline-block;
    }
}

/*Grid width for products loop*/
.products {
    &.grid-1-cols .product {
        width: 100%;
    }
    &.grid-2-cols .product {
        width: 50%;
    }
    &.grid-3-cols .product {
        width: 33.33%;
    }
    &.grid-4-cols .product {
        width: 25%;
    }
    &.grid-5-cols .product {
        width: 20%;
    }
    &.grid-6-cols .product {
        width: 16.66%;
    }
}

@media (min-width: 576px) and(max-width: 992px) {
    .products {
        &.grid-md-1-cols .product {
            width: 100%;
        }
        &.grid-md-2-cols .product {
            width: 50%;
        }
        &.grid-md-3-cols .product {
            width: 33.33%;
        }
        &.grid-md-4-cols .product {
            width: 25%;
        }
        &.grid-md-5-cols .product {
            width: 20%;
        }
        &.grid-md-6-cols .product {
            width: 16.66%;
        }
    }
}

@media (min-width: 992px) {

    .products {
        &.grid-lg-1-cols .product {
            width: 100%;
        }
        &.grid-lg-2-cols .product {
            width: 50%;
        }
        &.grid-lg-3-cols .product {
            width: 33.33%;
        }
        &.grid-lg-4-cols .product {
            width: 25%;
        }
        &.grid-lg-5-cols .product {
            width: 20%;
        }
        &.grid-lg-6-cols .product {
            width: 16.66%;
        }
    }
}
/*Shop loop heading*/
.shop-heading-image{
    margin-bottom: 55px;
}
.woocommerce-products-header .page-description{
    margin-bottom: 25px;
}
.shop-title{
    @include px2rem(22);
    font-weight: 500;
    margin-bottom: 25px;
}
/*End Shop loop heading*/
/*End Grid width for products loop*/
.zoo-wrap-product-shop-loop {
    margin-bottom: 50px;
}

.woocommerce span.onsale {
    z-index: 1;
}

/*No Product*/
.woocommerce .no-product-found {
    padding: 80px 15px;
    margin: 0 auto;
    max-width: 550px;
    position: static !important;
    text-align: center;
    .woocommerce-info {
        padding: 20px 0;
        background: none;
        border: none;
        @include px2rem(22);
        color: $sec_accent_color;
        margin-bottom: 0;
        &:before {
            display: none;
        }
    }
    a.button {
        line-height: 20px;
        background: $main_color;
        color: $white_text;
        &:hover {
            background: $sec_accent_color;
            color: $white_text;
        }
    }
}

/*End No Product*/

.woocommerce nav.woocommerce-pagination {
    ul {
        border: none;
        li {
            border: none;
            background: none;
            @include px2rem(18);
            margin: 0 3px;
            .page-numbers {
                min-width: 40px;
                height: 40px;
                padding: 5px;
                line-height: 30px;
                &.current, &:hover, &:focus {
                    color: $main_color;
                    background: transparent;
                }
                color: $sec_accent_color;
            }
        }
    }
}

/*Product Categories*/
.products {
    .product-category {
        text-align: center;
    }
    mark.count {
        background: none;
    }
    a:hover {
        color: $sec_accent_color;
    }
    h2.woocommerce-loop-category__title {
        font-size: 1rem;
        font-weight: normal;
    }
}

.woocommerce .products ul::after, .woocommerce .products ul::before, .woocommerce ul.products::after, .woocommerce ul.products::before {
    position: absolute
}

/*End Product Categories*/